### Librerías necesarias

In [97]:
import psycopg2
import numpy as np
import pandas as pd
import os
import urllib.parse as up
from sqlalchemy import create_engine
import warnings
warnings.filterwarnings('ignore')

### Conexión a ElephantSQL

In [98]:
up.uses_netloc.append("nombre_instancia")
url = "postgres://nombre_bbdd:tu_password@baasu.db.elephantsql.com/nombre_bbdd"

conn = psycopg2.connect(url)
crsr = conn.cursor()

### Crear tablas

In [99]:
query = '''
CREATE TABLE hierarchy (
    id VARCHAR(50) PRIMARY KEY,
    name VARCHAR(50) NOT NULL
    )
'''
crsr.execute(query)

In [100]:
# conn.commit()

In [101]:
query = '''
CREATE TABLE products (
    id VARCHAR(32) PRIMARY KEY,
    name VARCHAR(200) NOT NULL,
    net_price FLOAT NOT NULL,
    hierarchy_id VARCHAR(32) NOT NULL,
    CONSTRAINT fk_hierarchy_products FOREIGN KEY (hierarchy_id) REFERENCES hierarchy(id)
    )
'''
crsr.execute(query)

In [102]:
# conn.commit()

In [103]:
query = '''
CREATE TABLE payment_form_type (
    id INTEGER PRIMARY KEY,
    name VARCHAR(50) NOT NULL
    )
'''
crsr.execute(query)

In [104]:
# conn.commit()

In [105]:
query = '''
CREATE TABLE tables (
    id VARCHAR(32) PRIMARY KEY,
    name VARCHAR(32) NOT NULL,
    capacity INTEGER NOT NULL
    )
'''
crsr.execute(query)

In [106]:
# conn.commit()

In [107]:
query = '''
CREATE TABLE waiters (
    id BIGINT PRIMARY KEY,
    name VARCHAR(50) NOT NULL
    )
'''
crsr.execute(query)

In [108]:
# conn.commit()

In [109]:
query = '''
CREATE TABLE ventas_total (
    id BIGINT PRIMARY KEY,
    total FLOAT NOT NULL,
    gratuity FLOAT NOT NULL,
    discounts FLOAT NOT NULL,
    taxes FLOAT NOT NULL,
    subtotal FLOAT NOT NULL,
    payed FLOAT NOT NULL,
    table_id VARCHAR(32) NOT NULL,
    waiter_id BIGINT NOT NULL,
    date_open TIMESTAMP NOT NULL,
    date_closed TIMESTAMP NOT NULL,
    CONSTRAINT fk_tables_ventas_total FOREIGN KEY (table_id) REFERENCES tables(id),
    CONSTRAINT fk_waiters_ventas_total FOREIGN KEY (waiter_id) REFERENCES waiters(id)
    )
'''
crsr.execute(query)

In [110]:
# conn.commit()

In [111]:
query = '''
CREATE TABLE payment_forms (
    id BIGSERIAL PRIMARY KEY,
    order_id BIGINT NOT NULL,
    payment_id INTEGER NOT NULL,
    amount FLOAT NOT NULL,
    CONSTRAINT fk_ventas_total_payment_forms FOREIGN KEY (order_id) REFERENCES ventas_total(id),
    CONSTRAINT fk_payment_form_type_payment_forms FOREIGN KEY (payment_id) REFERENCES payment_form_type(id)
    )
'''
crsr.execute(query)

In [112]:
# conn.commit()

In [113]:
query = '''
CREATE TABLE ventas_x_products (
    id BIGSERIAL PRIMARY KEY,
    order_id BIGINT NOT NULL,
    product_id VARCHAR(32) NOT NULL,    
    quantity INTEGER NOT NULL,
    payed FLOAT NOT NULL,
    taxes FLOAT NOT NULL,
    discounts FLOAT NOT NULL,
    CONSTRAINT fk_ventas_total_ventas_x_products FOREIGN KEY (order_id) REFERENCES ventas_total(id),
    CONSTRAINT fk_products_ventas_x_products FOREIGN KEY (product_id) REFERENCES products(id)
    )
'''
crsr.execute(query)

### Guardar cambios

In [114]:
conn.commit()

### Cerrar conexión

In [115]:
conn.close()