In [1]:
import pandas as pd
product = pd.read_csv(r"C:\Users\adrik\Downloads\product_db.csv")
hierarchy = pd .read_csv(r"C:\Users\adrik\Downloads\hierarchy_db.csv")
ventas = pd.read_csv(r"C:\Users\adrik\Downloads\ventasxproducts_db.csv")
pago = pd.read_csv(r"C:\Users\adrik\Downloads\forma_pago_db.csv")
tipo = pd.read_csv(r'C:\Users\adrik\Downloads\tipos_forma_pago_bd.csv')
lista_local= pd.read_csv(r"C:\Users\adrik\Downloads\Precio_Lista_Bar.csv.csv")

In [2]:
ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223414 entries, 0 to 223413
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   order_id    223414 non-null  int64
 1   product_id  223414 non-null  object
 2   quantity    223414 non-null  int64
 3   payed       223414 non-null  float64
 4   taxes       223414 non-null  float64
 5   discounts   223414 non-null  float64
dtypes: float64(3), int64(2), object(1)
memory usage: 10.2+ MB

In [3]:
product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 574 entries, 0 to 573
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            574 non-null    object
 1   name          574 non-null    object
 2   net_price     574 non-null    float64
 3   hierarchy_id  574 non-null    object
dtypes: float64(1), object(3)
memory usage: 18.1+ KB

In [4]:
hierarchy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      64 non-null     object
 1   name    64 non-null     object
dtypes: object(2)
memory usage: 1.1+ KB

In [5]:
pago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54725 entries, 0 to 54724
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   order_id    54725 non-null  int64
 1   payment_id  54725 non-null  int64
 2   amount      54725 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 1.3 MB

In [6]:
tipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      12 non-null     int64
 1   name    12 non-null     object
dtypes: int64(1), object(1)
memory usage: 320.0+ bytes

In [7]:
#Unimos los dfs de pago y tipo de pago
pago = pago.merge(tipo, left_on='payment_id', right_on='id', how='left')
pago.drop(columns='id', inplace=True)
pago.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54725 entries, 0 to 54724
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   order_id    54725 non-null  int64
 1   payment_id  54725 non-null  int64
 2   amount      54725 non-null  float64
 3   name        54725 non-null  object
dtypes: float64(1), int64(2), object(1)
memory usage: 2.1+ MB

In [8]:
#unimos el df de ventas con el df de productos
df = ventas.merge(product, left_on='product_id', right_on='id', how='left')
df.drop(columns='id', inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 223414 entries, 0 to 223413
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   order_id      223414 non-null  int64
 1   product_id    223414 non-null  object
 2   quantity      223414 non-null  int64
 3   payed         223414 non-null  float64
 4   taxes         223414 non-null  float64
 5   discounts     223414 non-null  float64
 6   name          223414 non-null  object
 7   net_price     223414 non-null  float64
 8   hierarchy_id  223414 non-null  object
dtypes: float64(4), int64(2), object(3)
memory usage: 17.0+ MB

In [9]:
df.head()

,order_id,product_id,quantity,payed,taxes,discounts,name,net_price,hierarchy_id
0,4617000165572608,9050,1,6990.0,1116.0,0.0,Hamburguesa Americanaü•ì,6990.0,AB.410
1,4617000165572608,TOTEATDVYCOST,1,3213.0,513.0,0.0,Costo Delivery,3213.0,AB.
2,4878437089804288,1090,1,5990.0,956.0,0.0,Mexa Grande,5990.0,AB.010
3,4878437089804288,1050,1,5990.0,956.0,0.0,Cheese and bacon Grande,5990.0,AB.010
4,4878437089804288,1920,1,5990.0,956.0,0.0,Pollo albahaca grande,5990.0,AB.010

In [10]:
#unimos al df final el df de jerarqu√≠as
df = df.merge(hierarchy, left_on='hierarchy_id', right_on='id', how='left')
df.drop(columns='id', inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 223414 entries, 0 to 223413
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   order_id      223414 non-null  int64
 1   product_id    223414 non-null  object
 2   quantity      223414 non-null  int64
 3   payed         223414 non-null  float64
 4   taxes         223414 non-null  float64
 5   discounts     223414 non-null  float64
 6   name_x        223414 non-null  object
 7   net_price     223414 non-null  float64
 8   hierarchy_id  223414 non-null  object
 9   name_y        223414 non-null  object
dtypes: float64(4), int64(2), object(4)
memory usage: 18.7+ MB

In [11]:
df.head()

,order_id,product_id,quantity,payed,taxes,discounts,name_x,net_price,hierarchy_id,name_y
0,4617000165572608,9050,1,6990.0,1116.0,0.0,Hamburguesa Americanaü•ì,6990.0,AB.410,Burgersüçî
1,4617000165572608,TOTEATDVYCOST,1,3213.0,513.0,0.0,Costo Delivery,3213.0,AB.,Todos los Productos
2,4878437089804288,1090,1,5990.0,956.0,0.0,Mexa Grande,5990.0,AB.010,Fries
3,4878437089804288,1050,1,5990.0,956.0,0.0,Cheese and bacon Grande,5990.0,AB.010,Fries
4,4878437089804288,1920,1,5990.0,956.0,0.0,Pollo albahaca grande,5990.0,AB.010,Fries

In [12]:
#renombramos las columnas 
df = df.rename(columns={
    'name_x': 'producto',
    'name_y': 'hierarchy',
})
df

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
0,4617000165572608,9050,1,6990.0,1116.0,0.0,Hamburguesa Americanaü•ì,6990.0,AB.410,Burgersüçî
1,4617000165572608,TOTEATDVYCOST,1,3213.0,513.0,0.0,Costo Delivery,3213.0,AB.,Todos los Productos
2,4878437089804288,1090,1,5990.0,956.0,0.0,Mexa Grande,5990.0,AB.010,Fries
3,4878437089804288,1050,1,5990.0,956.0,0.0,Cheese and bacon Grande,5990.0,AB.010,Fries
4,4878437089804288,1920,1,5990.0,956.0,0.0,Pollo albahaca grande,5990.0,AB.010,Fries
...,...,...,...,...,...,...,...,...,...,...
223409,6740702414372864,2340,1,0.0,0.0,0.0,Mexa grande eats,0.0,BA.330,Elige tus papas grandes
223410,6750384411508736,3480,1,0.0,0.0,0.0,Mojitos,0.0,AB.075,Bar
223411,6750384411508736,7450,2,13380.0,2136.0,0.0,Mojito coco,6990.0,AB.075,Bar
223412,6750384411508736,4370,1,0.0,0.0,0.0,Cheese & bacon,0.0,AB.530,PAPITAS
223413,6750384411508736,7670,1,12990.0,2074.0,0.0,Para compartir (2-3personas),12990.0,AB.530,PAPITAS

In [13]:
#realizamos un filtro para quedarnos solo con las ordenes que no tienen descuento
#asi observamos las filas que presentaran precio 0, las cuales no son productos sino categor√≠as.
no_disc= df[df['discounts']==0]
no_disc

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
0,4617000165572608,9050,1,6990.0,1116.0,0.0,Hamburguesa Americanaü•ì,6990.0,AB.410,Burgersüçî
1,4617000165572608,TOTEATDVYCOST,1,3213.0,513.0,0.0,Costo Delivery,3213.0,AB.,Todos los Productos
2,4878437089804288,1090,1,5990.0,956.0,0.0,Mexa Grande,5990.0,AB.010,Fries
3,4878437089804288,1050,1,5990.0,956.0,0.0,Cheese and bacon Grande,5990.0,AB.010,Fries
4,4878437089804288,1920,1,5990.0,956.0,0.0,Pollo albahaca grande,5990.0,AB.010,Fries
...,...,...,...,...,...,...,...,...,...,...
223409,6740702414372864,2340,1,0.0,0.0,0.0,Mexa grande eats,0.0,BA.330,Elige tus papas grandes
223410,6750384411508736,3480,1,0.0,0.0,0.0,Mojitos,0.0,AB.075,Bar
223411,6750384411508736,7450,2,13380.0,2136.0,0.0,Mojito coco,6990.0,AB.075,Bar
223412,6750384411508736,4370,1,0.0,0.0,0.0,Cheese & bacon,0.0,AB.530,PAPITAS
223413,6750384411508736,7670,1,12990.0,2074.0,0.0,Para compartir (2-3personas),12990.0,AB.530,PAPITAS

In [14]:
#Obtenido nuestro df sin descuento podemos aplicar un filtro que seleccione las filas con precio 0.
#Esto es necesario para descubrir que  productos son categorias y no un producto en s√≠.
zero = no_disc[(no_disc['payed'] == 0) & (no_disc['net_price'] == 0)].drop_duplicates(subset=['product_id'])
zero

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
7,5246704765632512,50020,1,0.0,0.0,0.0,Americana P,0.0,AB.008,Promociones
8,5246704765632512,50050,1,0.0,0.0,0.0,Hot burger P,0.0,AB.008,Promociones
9,5246704765632512,60000,1,0.0,0.0,0.0,Coca cola promos,0.0,AB.008,Promociones
10,5246704765632512,60010,1,0.0,0.0,0.0,Coca cola sin azucar promos,0.0,AB.008,Promociones
30,6343523599908864,GETJUSTOEX0035,1,0.0,0.0,0.0,Aparte,0.0,AB.040,Extras
...,...,...,...,...,...,...,...,...,...,...
167243,5522665045622784,8100,2,0.0,0.0,0.0,Tradicional,0.0,AB.007,PROMOS PAPA¬¥S SHOP
167296,5882545254301696,8110,1,0.0,0.0,0.0,Frutos rojos,0.0,AB.007,PROMOS PAPA¬¥S SHOP
169045,4656821012922368,8140,1,0.0,0.0,0.0,Heineken,0.0,AB.007,PROMOS PAPA¬¥S SHOP
174046,5870679878664192,6060,1,0.0,0.0,0.0,Original sp,0.0,AB.007,PROMOS PAPA¬¥S SHOP
174074,6275363105800192,6080,1,0.0,0.0,0.0,Blue sp,0.0,AB.007,PROMOS PAPA¬¥S SHOP

In [15]:
#Revisamos las jerarqu√≠as asociadas a los productos resultantes.
zero['hierarchy'].unique()

array(['Promociones', 'Extras', 'Elige tu tama√±o favorito',
       'Escoge Tus Burgers üçî', 'Escoge Tus Bebidasü•§', 'Chicken',
       'Escoge Tus Papas Grandesüçü', 'Elige Tus Papas Grandes',
       'Elige Tu Bebida', 'Bebidas (04).', 'D√≥nde Deseas Tus Extras?',
       'Favoritosüî•', 'Escoge Tus Burgers', 'Promos presenciales  üî•',
       'Escoge el sabor de bebida ', 'Elige tus hamburguesas',
       'Elige tus bebidas ', 'Elige tus papas grandes ',
       'Elige tu tama√±o favorito de caf√© o milo', 'Bar',
       'Cerveza de botella', 'Schops', 'Botellas ',
       'Elige tus burgers sin papas ', 'EVENTO', 'PAPITAS',
       'IGNACIA ANTONIA ', 'VIERNES AUTOR 2*8990', 'PROMOS PAPA¬¥S SHOP'],
      dtype=object)

In [16]:
#filtramos por bar para corroborar la presencia de categor√≠as y no de productos
zero[zero['hierarchy']=='Bar']

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
11175,4531884447760384,2500,1,0.0,0.0,0.0,Whisky,0.0,AB.075,Bar
11178,4531884447760384,2470,1,0.0,0.0,0.0,Cocteles de autor,0.0,AB.075,Bar
11266,4983472979181568,2630,1,0.0,0.0,0.0,Jugos y limonadas,0.0,AB.075,Bar
11274,4983472979181568,2480,1,0.0,0.0,0.0,Nuestros cl√†sicos,0.0,AB.075,Bar
11304,5271545025658880,2530,1,0.0,0.0,0.0,Gin,0.0,AB.075,Bar
11350,5524960913915904,2550,1,0.0,0.0,0.0,Licores,0.0,AB.075,Bar
11354,5524960913915904,2520,1,0.0,0.0,0.0,Pisco,0.0,AB.075,Bar
11389,5583839379062784,2490,1,0.0,0.0,0.0,Ron,0.0,AB.075,Bar
12184,5355526014369792,2560,1,0.0,0.0,0.0,Tonicas Premium,0.0,AB.075,Bar
12776,5597127940767744,2510,1,0.0,0.0,0.0,Vodka,0.0,AB.075,Bar
15093,5115449623445504,2540,1,0.0,0.0,0.0,Tequila,0.0,AB.075,Bar
46965,6416693523644416,3110,1,0.0,0.0,0.0,Tragos dobles,0.0,AB.075,Bar
66508,5095349624242176,3480,1,0.0,0.0,0.0,Mojitos,0.0,AB.075,Bar
66599,4578069131821056,3530,1,0.0,0.0,0.0,Cocteles nuevos,0.0,AB.075,Bar
117493,4690807273291776,4620,1,0.0,0.0,0.0,GATORADE,0.0,AB.075,Bar

In [17]:
#aplicamos el mismo filtro para otras categorias
zero[zero['hierarchy']=='VIERNES AUTOR 2*8990']

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
121265,4729779328385024,8000,1,0.0,0.0,0.0,Promo destilados,0.0,AB.550,VIERNES AUTOR 2*8990

In [18]:
zero[zero['hierarchy']=='PROMOS PAPA¬¥S SHOP']

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
146950,4593073426006016,4810,2,0.0,0.0,0.0,f. SABADO: GIN* O PISCOLA*,0.0,AB.007,PROMOS PAPA¬¥S SHOP
163446,5200063580209152,4830,1,0.0,0.0,0.0,g. DOMINGO 2X1,0.0,AB.007,PROMOS PAPA¬¥S SHOP
165295,5219409337647104,8090,1,0.0,0.0,0.0,Frutos rojos,0.0,AB.007,PROMOS PAPA¬¥S SHOP
165299,5219409337647104,8080,1,0.0,0.0,0.0,Maracuya,0.0,AB.007,PROMOS PAPA¬¥S SHOP
167176,4534657815281664,8070,1,0.0,0.0,0.0,Mango,0.0,AB.007,PROMOS PAPA¬¥S SHOP
167243,5522665045622784,8100,2,0.0,0.0,0.0,Tradicional,0.0,AB.007,PROMOS PAPA¬¥S SHOP
167296,5882545254301696,8110,1,0.0,0.0,0.0,Frutos rojos,0.0,AB.007,PROMOS PAPA¬¥S SHOP
169045,4656821012922368,8140,1,0.0,0.0,0.0,Heineken,0.0,AB.007,PROMOS PAPA¬¥S SHOP
174046,5870679878664192,6060,1,0.0,0.0,0.0,Original sp,0.0,AB.007,PROMOS PAPA¬¥S SHOP
174074,6275363105800192,6080,1,0.0,0.0,0.0,Blue sp,0.0,AB.007,PROMOS PAPA¬¥S SHOP

In [19]:
zero[zero['hierarchy']=='IGNACIA ANTONIA ']

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
106791,5115036946923520,4490,1,0.0,0.0,0.0,RAMAZZOTTI IGNACIA,0.0,AB.540,IGNACIA ANTONIA

In [20]:
zero[zero['hierarchy']=='PAPITAS']

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
105357,6279952873553920,4350,1,0.0,0.0,0.0,Choclo champi√±√≥n,0.0,AB.530,PAPITAS
107090,4584571039121408,4380,1,0.0,0.0,0.0,Mechada,0.0,AB.530,PAPITAS
107125,4899965245325312,4360,1,0.0,0.0,0.0,Veggie,0.0,AB.530,PAPITAS
107148,4960698700136448,4340,1,0.0,0.0,0.0,Beefie,0.0,AB.530,PAPITAS
107209,5382547642777600,4370,1,0.0,0.0,0.0,Cheese & bacon,0.0,AB.530,PAPITAS
107235,5736811443519488,4330,1,0.0,0.0,0.0,Single,0.0,AB.530,PAPITAS
107250,5790641745035264,4390,1,0.0,0.0,0.0,Mexa,0.0,AB.530,PAPITAS
107281,6215008069091328,4410,1,0.0,0.0,0.0,Pollo albahaca,0.0,AB.530,PAPITAS
107869,5217622368714752,4400,1,0.0,0.0,0.0,Chicken curry,0.0,AB.530,PAPITAS

In [21]:
zero[zero['hierarchy']=='EVENTO']

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
67054,4543620876861440,3540,1,0.0,0.0,0.0,Hamburguesa + Schop Royal,0.0,AB.060,EVENTO
69657,6185273073074176,3620,1,0.0,0.0,0.0,Red bull,0.0,AB.060,EVENTO

In [22]:
zero[zero['hierarchy']=='Botellas ']

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
30427,4956253988847616,2920,1,0.0,0.0,0.0,Pisco Mistral Barrica tostada,0.0,AB.090,Botellas

In [23]:
zero[zero['hierarchy']=='Schops']

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
22188,5293919586484224,2680,1,0.0,0.0,0.0,SCHOP X 2 + MEXA GRAN DE,0.0,AB.085,Schops

In [24]:
zero[zero['hierarchy']=='Cerveza de botella']

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
12524,6377807100510208,2580,1,0.0,0.0,0.0,Heiniken,0.0,AB.080,Cerveza de botella

In [25]:
zero[zero['hierarchy']=='Elige tu tama√±o favorito de caf√© o milo']

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
2472,4989578065477632,cafe1000,1,0.0,0.0,0.0,Chico,0.0,BA.105,Elige tu tama√±o favorito de caf√© o milo

In [26]:
#Eliminaremos todas las filas que presentan estas condiciones, ya que no son v√°lidos como productos por si solos.
ids_fil = [2500, 2470, 2630, 2480, 2530, 2550, 2520, 2490, 2560, 2510, 2540, 3110, 3480, 3530, 4620, 8000, 3090, 2670, 4490,4820,4800,4810,4790,4850,4830,4860,4760]
ids_fil = [str(id) for id in ids_fil]
df = df[~df['product_id'].isin(ids_fil)]
#Tambi√©n eliminaremos jerarqu√≠as completas, ya que fueron creadas para un evento espec√≠fico y esto no representa las ventas del local 
hierarchy_fil = [
    'Elige tu tama√±o favorito de caf√© o milo',
    'EVENTO',
    'IGNACIA ANTONIA ',
    'Hamburguesa sin papas promo '
]
df = df[~df['hierarchy'].isin(hierarchy_fil)]
df

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
0,4617000165572608,9050,1,6990.0,1116.0,0.0,Hamburguesa Americanaü•ì,6990.0,AB.410,Burgersüçî
1,4617000165572608,TOTEATDVYCOST,1,3213.0,513.0,0.0,Costo Delivery,3213.0,AB.,Todos los Productos
2,4878437089804288,1090,1,5990.0,956.0,0.0,Mexa Grande,5990.0,AB.010,Fries
3,4878437089804288,1050,1,5990.0,956.0,0.0,Cheese and bacon Grande,5990.0,AB.010,Fries
4,4878437089804288,1920,1,5990.0,956.0,0.0,Pollo albahaca grande,5990.0,AB.010,Fries
...,...,...,...,...,...,...,...,...,...,...
223408,6740702414372864,2300,1,0.0,0.0,0.0,Beefie grande eats,0.0,BA.330,Elige tus papas grandes
223409,6740702414372864,2340,1,0.0,0.0,0.0,Mexa grande eats,0.0,BA.330,Elige tus papas grandes
223411,6750384411508736,7450,2,13380.0,2136.0,0.0,Mojito coco,6990.0,AB.075,Bar
223412,6750384411508736,4370,1,0.0,0.0,0.0,Cheese & bacon,0.0,AB.530,PAPITAS
223413,6750384411508736,7670,1,12990.0,2074.0,0.0,Para compartir (2-3personas),12990.0,AB.530,PAPITAS

In [27]:
#Crearemos unas combinaciones de filas para la misma orden, ya que ambas filas hacen referencia a un mismo producto
#Esto para por la especificaci√≥n de tama√±o, crearemos una funci√≥n para reorganizar adecuadamente estos productos.
def process_order_group(group):
    # Definir las combinaciones de product_id y un identificador secundario para asignar nombres nuevos
    combinations = {
        ('4400', '7650'): 'chicken curry individual',
        ('4350', '7650'): 'choclo champi√±on individual',
        ('4360', '7650'): 'veggie individual',
        ('4370', '7650'): 'cheese and bacon individual',
        ('4340', '7650'): 'beefie individual',
        ('4380', '7650'): 'mechada individual',
        ('4330', '7650'): 'single fries individual',
        ('4390', '7650'): 'mexa individual',
        ('4410', '7650'): 'pollo albahaca individual',
        ('4400', '7670'): 'chicken curry compartir',
        ('4350', '7670'): 'choclo champi√±on compartir',
        ('4360', '7670'): 'veggie compartir',
        ('4370', '7670'): 'cheese and bacon compartir',
        ('4340', '7670'): 'beefie compartir',
        ('4380', '7670'): 'mechada compartir',
        ('4330', '7670'): 'single fries compartir',
        ('4390', '7670'): 'mexa compartir',
        ('4410', '7670'): 'pollo albahaca compartir'
    }

    to_drop = []
    for i in range(len(group) - 1):  # Usar range(len(group) - 1) para iterar por posiciones
        current_pid = group.iloc[i]['product_id']
        next_pid = group.iloc[i + 1]['product_id']
        key = (current_pid, next_pid)
        
        if key in combinations:
            new_name = combinations[key]
            # Sumar los valores de las columnas especificadas si es necesario
            group.iloc[i, group.columns.get_loc('payed')] += group.iloc[i + 1]['payed'] if 'payed' in group.columns else 0
            group.iloc[i, group.columns.get_loc('taxes')] += group.iloc[i + 1]['taxes'] if 'taxes' in group.columns else 0
            # Actualizar el nombre del producto
            group.iloc[i, group.columns.get_loc('producto')] = new_name
            
            # Para "compartir", incrementar el product_id de la primera fila en 1
            if "compartir" in new_name:
                group.iloc[i, group.columns.get_loc('product_id')] = str(int(current_pid) + 1)
            
            # Marcar la segunda fila para eliminaci√≥n
            to_drop.append(group.index[i + 1])
    
    # Eliminar las filas marcadas
    group.drop(to_drop, inplace=True)
    return group
# Aplicar la funci√≥n a cada grupo de order_id en el DataFrame completo y restablecer el √≠ndice
df = df.groupby('order_id').apply(process_order_group).reset_index(drop=True)

In [28]:
#Observamos los cambios realizados en una orden al azar.
df[df['order_id']==4960698700136448]

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
36900,4960698700136448,2590,1,3590.0,573.0,0.0,Austral Lager,3590.0,AB.080,Cerveza de botella
36901,4960698700136448,2650,1,4190.0,669.0,0.0,Schop heineken,2990.0,AB.085,Schops
36902,4960698700136448,6900,1,500.0,80.0,0.0,Chelada,500.0,AB.085,Schops
36903,4960698700136448,2590,1,3590.0,573.0,0.0,Austral Lager,3590.0,AB.080,Cerveza de botella
36904,4960698700136448,4380,2,19980.0,3190.0,0.0,mechada individual,0.0,AB.530,PAPITAS
36905,4960698700136448,4340,1,9990.0,1595.0,0.0,beefie individual,0.0,AB.530,PAPITAS
36906,4960698700136448,1690,1,7990.0,1276.0,0.0,Hamburguesa Americana,6290.0,AB.020,Burgers
36907,4960698700136448,4350,1,9990.0,1595.0,0.0,choclo champi√±on individual,0.0,AB.530,PAPITAS
36908,4960698700136448,1180,1,7990.0,1276.0,0.0,Hamburguesa Clasica,6990.0,AB.020,Burgers
36909,4960698700136448,6840,1,3290.0,525.0,0.0,Limonada Menta Jengibre,3290.0,AB.075,Bar
36910,4960698700136448,2690,1,8990.0,1435.0,0.0,2x1 Caipiri'a,5990.0,AB.075,Bar
36911,4960698700136448,1370,1,1290.0,206.0,0.0,Coca Cola Original,990.0,AB.050,Drinks ü•§
36912,4960698700136448,3100,1,8990.0,1435.0,0.0,2 Mojitos x6990,6990.0,AB.075,Bar
36913,4960698700136448,6840,1,3290.0,525.0,0.0,Limonada Menta Jengibre,3290.0,AB.075,Bar

In [29]:
#Buscaremos todas los productos que contengan la palabra beefie, un tipo de papa que se vende en el local
beefie_rows = df[df['producto'].str.contains("Beefie", case=False)]
beefie_ids = beefie_rows['product_id'].unique()

# Filtrar el DataFrame original para incluir solo filas con esos product_id √∫nicos
df_beefie = df[df['product_id'].isin(beefie_ids)].drop_duplicates(subset=['product_id'])
df_beefie

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
112,4505382854328320,1030,1,7790.0,1244.0,0.0,Beefie Grande,5290.0,AB.010,Fries
122,4505494630825984,UBEREATS0002,1,6392.0,1021.0,-1598.0,Beefie,3790.0,AB.100110,Papas
123,4505494630825984,UBEREATSEX0011,1,2291.0,366.0,0.0,Grande Beefie,1000.0,BA.020,Elige tu tama√±o favorito
204,4506262933602304,2300,1,0.0,0.0,0.0,Beefie grande eats,0.0,BA.330,Elige tus papas grandes
229,4506400514113536,GETJUSTOEX0058,1,0.0,0.0,0.0,Beefie,0.0,BA.260,Elige Tus Papas Grandes
282,4507117281214464,4341,1,11691.0,1867.0,0.0,beefie compartir,0.0,AB.530,PAPITAS
515,4510356023803904,1020,1,6790.0,1084.0,0.0,Beefie Standard,4990.0,AB.010,Fries
579,4511500620005376,1260,1,900.0,144.0,0.0,Beefie,900.0,AB.040,Extras
634,4512234564485120,9150,1,6990.0,1116.0,0.0,Beefie.,4490.0,AB.400,Fries üçü
1007,4516731745861632,UBEREATSEX0002,1,0.0,0.0,0.0,Standard Beefie,0.0,BA.020,Elige tu tama√±o favorito
2145,4530778698153984,6300,1,0.0,0.0,0.0,Beefie,0.0,BA.530,Escoge Tus Papas Grandesüçü
2202,4531421573152768,40000,1,0.0,0.0,0.0,Sabor beefie,0.0,AB.070,Promos presenciales üî•
3196,4544340139573248,4340,1,5990.0,956.0,0.0,beefie individual,0.0,AB.530,PAPITAS
3987,4555083529060352,UBEREATS0013,1,900.0,144.0,0.0,Beefie,0.0,AB.100130,Extras

In [30]:
#Renombraremos los productos ya que hacen referencia al mismo producto segu√∫n sea el caso
product_renames = {
    '1030': 'beefie compartir',
    '2300': 'beefie compartir promo',
    'GETJUSTOEX0058': 'beefie compartir promo',
    '1020': 'beefie individual',
    '1260': 'beefie extra local',
    '6300': 'beefie compartir promo',
    '40000': 'beefie compartir promo',
    'UBEREATS0013': 'beefie extra uber'
}
for product_id, new_name in product_renames.items():
    df.loc[df['product_id'] == product_id, 'producto'] = new_name
df

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
0,4503601585848320,6650,1,4490.0,717.0,0.0,Mistral 35,4490.0,AB.075,Bar
1,4503645076586496,6870,1,3890.0,621.0,0.0,Jugo de frambuesa,1422.0,AB.075,Bar
2,4503645076586496,2650,1,4190.0,669.0,0.0,Schop heineken,2990.0,AB.085,Schops
3,4503645076586496,6870,1,3890.0,621.0,0.0,Jugo de frambuesa,1422.0,AB.075,Bar
4,4503645076586496,6590,1,6990.0,1116.0,0.0,Jhonnie Walker Black Label,6990.0,AB.075,Bar
...,...,...,...,...,...,...,...,...,...,...
183409,6755396743200768,4351,1,12990.0,2074.0,0.0,choclo champi√±on compartir,0.0,AB.530,PAPITAS
183410,6755396743200768,4680,1,4790.0,765.0,0.0,Absolute,4990.0,AB.075,Bar
183411,6755396743200768,4680,1,4790.0,765.0,0.0,Absolute,4990.0,AB.075,Bar
183412,6755396743200768,1390,1,2390.0,382.0,0.0,Fanta,990.0,AB.050,Drinks ü•§
183413,6755397736857600,1690,1,7490.0,1196.0,0.0,Hamburguesa Americana,6290.0,AB.020,Burgers

In [31]:
beefie_rows = df[df['producto'].str.contains("Beefie", case=False)]
beefie_ids = beefie_rows['product_id'].unique()

# Filtrar el DataFrame original para incluir solo filas con esos product_id √∫nicos
df_beefie = df[df['product_id'].isin(beefie_ids)].drop_duplicates(subset=['product_id'])
df_beefie

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
112,4505382854328320,1030,1,7790.0,1244.0,0.0,beefie compartir,5290.0,AB.010,Fries
122,4505494630825984,UBEREATS0002,1,6392.0,1021.0,-1598.0,Beefie,3790.0,AB.100110,Papas
123,4505494630825984,UBEREATSEX0011,1,2291.0,366.0,0.0,Grande Beefie,1000.0,BA.020,Elige tu tama√±o favorito
204,4506262933602304,2300,1,0.0,0.0,0.0,beefie compartir promo,0.0,BA.330,Elige tus papas grandes
229,4506400514113536,GETJUSTOEX0058,1,0.0,0.0,0.0,beefie compartir promo,0.0,BA.260,Elige Tus Papas Grandes
282,4507117281214464,4341,1,11691.0,1867.0,0.0,beefie compartir,0.0,AB.530,PAPITAS
515,4510356023803904,1020,1,6790.0,1084.0,0.0,beefie individual,4990.0,AB.010,Fries
579,4511500620005376,1260,1,900.0,144.0,0.0,beefie extra local,900.0,AB.040,Extras
634,4512234564485120,9150,1,6990.0,1116.0,0.0,Beefie.,4490.0,AB.400,Fries üçü
1007,4516731745861632,UBEREATSEX0002,1,0.0,0.0,0.0,Standard Beefie,0.0,BA.020,Elige tu tama√±o favorito
2145,4530778698153984,6300,1,0.0,0.0,0.0,beefie compartir promo,0.0,BA.530,Escoge Tus Papas Grandesüçü
2202,4531421573152768,40000,1,0.0,0.0,0.0,beefie compartir promo,0.0,AB.070,Promos presenciales üî•
3196,4544340139573248,4340,1,5990.0,956.0,0.0,beefie individual,0.0,AB.530,PAPITAS
3987,4555083529060352,UBEREATS0013,1,900.0,144.0,0.0,beefie extra uber,0.0,AB.100130,Extras

Observamos que algunos producto no se modificaron, estos productos hay que trabajarlos de manera diferente, ya que son categor√≠as en el cual hay que unir con el tama√±o para poder dar un producto final, y no est√° explicito como en el resto de productos, aplicaremos una funci√≥n parecida a la anterior.

In [32]:
#Realizamos una funci√≥n que combine las filas que corresponden al tipo de papa con su respectivo tama√±o
#Es importante recalcar el precio de estas en su respectiva combinaci√≥n mediante una suma
combinations = {
    ('UBEREATS0002', 'UBEREATSEX0002'): 'beefie individual',
    ('UBEREATS0002', 'UBEREATSEX0011'): 'beefie compartir',
    ('UBEREATS0001', 'UBEREATSEX0001'): 'single fries individual',
    ('UBEREATS0001', 'UBEREATSEX0010'): 'single fries compartir',
    ('UBEREATS0006', 'UBEREATSEX0006'): 'mechada individual',
    ('UBEREATS0006', 'UBEREATSEX0015'): 'mechada compartir',
    ('1250uber', '1520uberxra'): 'pollo albahaca individual',
    ('1250uber', '1530uberexra'): 'pollo albahaca compartir',
    ('UBEREATS0009', 'UBEREATSEX0009'): 'choclo champi√±on compartir',
    ('UBEREATS0009', 'UBEREATSEX0018'): 'choclo champi√±on individual',
    ('UBEREATS0003', 'UBEREATSEX0003'): 'cheese and bacon individual',
    ('UBEREATS0003', 'UBEREATSEX0012'): 'cheese and bacon compartir',
    ('UBEREATS0007', 'UBEREATSEX0007'): 'chicken curry individual',
    ('UBEREATS0007', 'UBEREATSEX0016'): 'chicken curry compartir',
    ('UBEREATS0005', 'UBEREATSEX0005'): 'mexa individual',
    ('UBEREATS0005', 'UBEREATSEX0014'): 'mexa compartir',
    ('UBEREATS0004', 'UBEREATSEX0004'): 'veggie individual',
    ('UBEREATS0004', 'UBEREATSEX0013'): 'veggie compartir'
}

def process_order_group(group):
    to_drop = []
    for i in group.index[:-1]:  # Excluir el √∫ltimo √≠ndice para evitar salir del rango
        current_pid = group.at[i, 'product_id']
        next_pid = group.at[i + 1, 'product_id']
        if (current_pid, next_pid) in combinations:
            new_name = combinations[(current_pid, next_pid)]
            # Sumar los valores de las columnas especificadas
            group.at[i, 'payed'] += group.at[i + 1, 'payed']
            group.at[i, 'taxes'] += group.at[i + 1, 'taxes']
            # Actualizar el nombre del producto
            group.at[i, 'producto'] = new_name
            # Marcar la segunda fila para eliminaci√≥n
            to_drop.append(i + 1)
    # Eliminar las filas marcadas
    group = group.drop(to_drop)
    return group

# Aplicar la funci√≥n a cada grupo de order_id en el DataFrame completo y restablecer el √≠ndice
df = df.groupby('order_id').apply(process_order_group).reset_index(drop=True)
df

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
0,4503601585848320,6650,1,4490.0,717.0,0.0,Mistral 35,4490.0,AB.075,Bar
1,4503645076586496,6870,1,3890.0,621.0,0.0,Jugo de frambuesa,1422.0,AB.075,Bar
2,4503645076586496,2650,1,4190.0,669.0,0.0,Schop heineken,2990.0,AB.085,Schops
3,4503645076586496,6870,1,3890.0,621.0,0.0,Jugo de frambuesa,1422.0,AB.075,Bar
4,4503645076586496,6590,1,6990.0,1116.0,0.0,Jhonnie Walker Black Label,6990.0,AB.075,Bar
...,...,...,...,...,...,...,...,...,...,...
174412,6755396743200768,4351,1,12990.0,2074.0,0.0,choclo champi√±on compartir,0.0,AB.530,PAPITAS
174413,6755396743200768,4680,1,4790.0,765.0,0.0,Absolute,4990.0,AB.075,Bar
174414,6755396743200768,4680,1,4790.0,765.0,0.0,Absolute,4990.0,AB.075,Bar
174415,6755396743200768,1390,1,2390.0,382.0,0.0,Fanta,990.0,AB.050,Drinks ü•§
174416,6755397736857600,1690,1,7490.0,1196.0,0.0,Hamburguesa Americana,6290.0,AB.020,Burgers

In [33]:
#verificamos el df
df[df['order_id']== 4516731745861632]

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
961,4516731745861632,UBEREATS0002,1,7990.0,1276.0,0.0,beefie individual,3790.0,AB.100110,Papas
962,4516731745861632,UBEREATS0003,1,10990.0,1755.0,0.0,cheese and bacon compartir,4690.0,AB.100110,Papas

In [34]:
#Encontramos productos en uber que presentaron error en su pago total, incluso con el nombre de prueba y con una venta
#Eliminaremos estos valores 
no_venta = df[df['product_id'].isin(['UBEREATSEX0017', 'UBEREATSEX0008', 'UBEREATS0008'])]['order_id'].unique()
df = df[~df['order_id'].isin(no_venta)]
df

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
0,4503601585848320,6650,1,4490.0,717.0,0.0,Mistral 35,4490.0,AB.075,Bar
1,4503645076586496,6870,1,3890.0,621.0,0.0,Jugo de frambuesa,1422.0,AB.075,Bar
2,4503645076586496,2650,1,4190.0,669.0,0.0,Schop heineken,2990.0,AB.085,Schops
3,4503645076586496,6870,1,3890.0,621.0,0.0,Jugo de frambuesa,1422.0,AB.075,Bar
4,4503645076586496,6590,1,6990.0,1116.0,0.0,Jhonnie Walker Black Label,6990.0,AB.075,Bar
...,...,...,...,...,...,...,...,...,...,...
174412,6755396743200768,4351,1,12990.0,2074.0,0.0,choclo champi√±on compartir,0.0,AB.530,PAPITAS
174413,6755396743200768,4680,1,4790.0,765.0,0.0,Absolute,4990.0,AB.075,Bar
174414,6755396743200768,4680,1,4790.0,765.0,0.0,Absolute,4990.0,AB.075,Bar
174415,6755396743200768,1390,1,2390.0,382.0,0.0,Fanta,990.0,AB.050,Drinks ü•§
174416,6755397736857600,1690,1,7490.0,1196.0,0.0,Hamburguesa Americana,6290.0,AB.020,Burgers

In [35]:
#Observamos otra combinaci√≥n que muestra los errores encontrados en nuestro df original 
df[df['order_id']==4512234564485120]

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
610,4512234564485120,9150,1,6990.0,1116.0,0.0,Beefie.,4490.0,AB.400,Fries üçü
611,4512234564485120,mer2,1,3000.0,479.0,0.0,Grande 450g aprox,1000.0,BA.500,Elige tu tama√±o favorito
612,4512234564485120,9130,1,7290.0,1164.0,0.0,Cheese and bacon,4490.0,AB.400,Fries üçü
613,4512234564485120,mer01,1,0.0,0.0,0.0,Standard 300gr aprox.,0.0,BA.500,Elige tu tama√±o favorito

In [36]:
#Aplicaremos una funci√≥n con la combinaci√≥n de productos y su respectivo renombramiento
#Es el mismo problema de tipos de papas con su tama√±o en filas diferentes
def process_order_group(group):
    combinations = {
        ('9000', 'mer01'): 'vegan individual',
        ('9090', 'mer01'): 'mechada individual',
        ('9100', 'mer01'): 'chicken curry individual',
        ('1590', 'mer01'): 'pollo albahaca individual',
        ('9110', 'mer01'): 'single fries individual',
        ('9120', 'mer01'): 'veggie individual',
        ('9130', 'mer01'): 'cheese and bacon individual',
        ('9140', 'mer01'): 'mexa individual',
        ('9150', 'mer01'): 'beefie individual',
        ('9160', 'mer01'): 'choclo champi√±on individual',
        ('9000', 'mer2'): 'vegan compartir',
        ('9090', 'mer2'): 'mechada compartir',
        ('9100', 'mer2'): 'chicken curry compartir',
        ('1590', 'mer2'): 'pollo albahaca compartir',
        ('9110', 'mer2'): 'single fries compartir',
        ('9120', 'mer2'): 'veggie compartir',
        ('9130', 'mer2'): 'cheese and bacon compartir',
        ('9140', 'mer2'): 'mexa compartir',
        ('9150', 'mer2'): 'beefie compartir',
        ('9160', 'mer2'): 'choclo champi√±on compartir'
}
    
    to_drop = []
    for i in group.index[:-1]:  # Excluir el √∫ltimo √≠ndice para evitar salir del rango
        current_pid = group.at[i, 'product_id']
        next_pid = group.at[i + 1, 'product_id']
        key = (current_pid, next_pid)
        
        if key in combinations:
            new_name = combinations[key]
            # Sumar los valores de las columnas especificadas
            group.at[i, 'payed'] += group.at[i + 1, 'payed']
            group.at[i, 'taxes'] += group.at[i + 1, 'taxes']
            # Actualizar el nombre del producto
            group.at[i, 'producto'] = new_name
            
            # Para "compartir", incrementar el product_id de la primera fila en 1
            if "compartir" in new_name:
                group.at[i, 'product_id'] = str(int(group.at[i, 'product_id']) + 1)
            
            # Marcar la segunda fila para eliminaci√≥n
            to_drop.append(i + 1)
    
    # Eliminar las filas marcadas
    group.drop(to_drop, inplace=True)
    return group

# Aplicar la funci√≥n a cada grupo de order_id en el DataFrame completo y restablecer el √≠ndice
df = df.groupby('order_id').apply(process_order_group).reset_index(drop=True)

In [37]:
#Verificamos las correcciones
df[df['order_id']==4512234564485120]

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
608,4512234564485120,9151,1,9990.0,1595.0,0.0,beefie compartir,4490.0,AB.400,Fries üçü
609,4512234564485120,9130,1,7290.0,1164.0,0.0,cheese and bacon individual,4490.0,AB.400,Fries üçü

In [38]:
#Procedemos con los filtros por nombre, ya que necesitamos unificar los productos por nombre
#Esto con el fin de saber cuales producto se refieren a lo mismo
mexa_rows = df[df['producto'].str.contains("mexa", case=False)]
mexa_ids = mexa_rows['product_id'].unique()

# Filtrar el DataFrame original para incluir solo filas con esos product_id √∫nicos
df_mexa= df[df['product_id'].isin(mexa_ids)].drop_duplicates(subset=['product_id'])
df_mexa

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
54,4504269799292928,1090,1,6990.0,1116.0,0.0,Mexa Grande,5990.0,AB.010,Fries
100,4505287530381312,2680,1,6990.0,1116.0,0.0,SCHOP X 2 + MEXA GRAN DE,0.0,AB.085,Schops
426,4509597396893696,GETJUSTOEX0061,1,0.0,0.0,0.0,Mexa,0.0,BA.260,Elige Tus Papas Grandes
728,4513460637532160,UBEREATS0005,1,10290.0,1642.0,0.0,mexa compartir,3540.0,AB.100110,Papas
1184,4519626948083712,4391,1,12990.0,2074.0,0.0,mexa compartir,0.0,AB.530,PAPITAS
1206,4519839593005056,1080,1,8690.0,1387.0,0.0,Mexa Standard,4990.0,AB.010,Fries
1487,4523954426478592,40060,1,0.0,0.0,0.0,Sabor mexa,0.0,AB.070,Promos presenciales üî•
1878,4527904687652864,4390,1,9990.0,1595.0,0.0,mexa individual,0.0,AB.530,PAPITAS
1936,4529019456061440,2340,1,0.0,0.0,0.0,Mexa grande eats,0.0,BA.330,Elige tus papas grandes
2475,4536456826322944,6360,1,0.0,0.0,0.0,Mexa,0.0,BA.530,Escoge Tus Papas Grandesüçü
4871,4569185323319296,9140,1,4990.0,797.0,0.0,mexa individual,4490.0,AB.400,Fries üçü
5525,4578972035448832,9141,1,6990.0,1116.0,0.0,mexa compartir,4490.0,AB.400,Fries üçü
102374,5845343273746432,UBEREATSEX0005,1,0.0,0.0,0.0,Standard Mexa,0.0,BA.050,Elige tu tama√±o favorito

In [39]:
#Hemos observado un error de pedidos ya en un pedido de ubereats
df[df['order_id']==5845343273746432]

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
102371,5845343273746432,UBEREATS0007,1,4090.0,653.0,-1200.0,chicken curry individual,4540.0,AB.100110,Papas
102372,5845343273746432,UBEREATS0016,1,0.0,0.0,-900.0,Pebre,900.0,AB.100130,Extras
102373,5845343273746432,TOTEATDVYERROR,1,4090.0,653.0,-1200.0,ERR PEDIDOSYA: Hamburguesa Vegetariana,7990.0,AB.,Todos los Productos
102374,5845343273746432,UBEREATSEX0005,1,0.0,0.0,0.0,Standard Mexa,0.0,BA.050,Elige tu tama√±o favorito
102375,5845343273746432,UBEREATS0025,1,200.0,32.0,-1200.0,Coca-Cola,400.0,AB.100140,Bebidas

In [40]:
#Este error lo eliminaremos ya que no presenta repetici√≥n
df = df.loc[df['order_id'] != 5845343273746432]

In [41]:
#emos encontrado otro error con uno de los nombres
#Se revis√≥ la documentaci√≥n del local y este producto corresponde a una promoci√≥n de schop sin las papas
df[df['product_id']=='2680']

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
100,4505287530381312,2680,1,6990.0,1116.0,0.0,SCHOP X 2 + MEXA GRAN DE,0.0,AB.085,Schops
101,4505287530381312,2680,1,6990.0,1116.0,0.0,SCHOP X 2 + MEXA GRAN DE,0.0,AB.085,Schops
104,4505287530381312,2680,1,6990.0,1116.0,0.0,SCHOP X 2 + MEXA GRAN DE,0.0,AB.085,Schops
284,4507388054601728,2680,1,6990.0,1116.0,0.0,SCHOP X 2 + MEXA GRAN DE,0.0,AB.085,Schops
687,4513281438646272,2680,1,4990.0,797.0,0.0,SCHOP X 2 + MEXA GRAN DE,0.0,AB.085,Schops
...,...,...,...,...,...,...,...,...,...,...
172815,6750663094304768,2680,1,6990.0,1116.0,0.0,SCHOP X 2 + MEXA GRAN DE,0.0,AB.085,Schops
172817,6750663094304768,2680,1,6990.0,1116.0,0.0,SCHOP X 2 + MEXA GRAN DE,0.0,AB.085,Schops
172846,6750970962509824,2680,1,4990.0,797.0,0.0,SCHOP X 2 + MEXA GRAN DE,0.0,AB.085,Schops
172960,6752424838299648,2680,2,13980.0,2232.0,0.0,SCHOP X 2 + MEXA GRAN DE,0.0,AB.085,Schops
173058,6753893057953792,2680,1,6990.0,1116.0,0.0,SCHOP X 2 + MEXA GRAN DE,0.0,AB.085,Schops

In [42]:
#Hacemos las correciones de los nombres
product_renames = {
    '2680': '2 SCHOP  HEINEKEN',
    'GETJUSTOEX0061': 'mexa compartir promo',
    '40060': 'mexa compartir promo',
    '2340': 'mexa compartir promo',
    '6360': 'mexa compartir promo',
    '1090': 'mexa compartir',
    '1080': 'mexa individual'
}
for product_id, new_name in product_renames.items():
    df.loc[df['product_id'] == product_id, 'producto'] = new_name
df

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
0,4503601585848320,6650,1,4490.0,717.0,0.0,Mistral 35,4490.0,AB.075,Bar
1,4503645076586496,6870,1,3890.0,621.0,0.0,Jugo de frambuesa,1422.0,AB.075,Bar
2,4503645076586496,2650,1,4190.0,669.0,0.0,Schop heineken,2990.0,AB.085,Schops
3,4503645076586496,6870,1,3890.0,621.0,0.0,Jugo de frambuesa,1422.0,AB.075,Bar
4,4503645076586496,6590,1,6990.0,1116.0,0.0,Jhonnie Walker Black Label,6990.0,AB.075,Bar
...,...,...,...,...,...,...,...,...,...,...
173172,6755396743200768,4351,1,12990.0,2074.0,0.0,choclo champi√±on compartir,0.0,AB.530,PAPITAS
173173,6755396743200768,4680,1,4790.0,765.0,0.0,Absolute,4990.0,AB.075,Bar
173174,6755396743200768,4680,1,4790.0,765.0,0.0,Absolute,4990.0,AB.075,Bar
173175,6755396743200768,1390,1,2390.0,382.0,0.0,Fanta,990.0,AB.050,Drinks ü•§
173176,6755397736857600,1690,1,7490.0,1196.0,0.0,Hamburguesa Americana,6290.0,AB.020,Burgers

In [43]:
#Verificamos
mexa_rows = df[df['producto'].str.contains("mexa", case=False)]
mexa_ids = mexa_rows['product_id'].unique()

# Filtrar el DataFrame original para incluir solo filas con esos product_id √∫nicos
df_mexa= df[df['product_id'].isin(mexa_ids)].drop_duplicates(subset=['product_id'])
df_mexa

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
54,4504269799292928,1090,1,6990.0,1116.0,0.0,mexa compartir,5990.0,AB.010,Fries
426,4509597396893696,GETJUSTOEX0061,1,0.0,0.0,0.0,mexa compartir promo,0.0,BA.260,Elige Tus Papas Grandes
728,4513460637532160,UBEREATS0005,1,10290.0,1642.0,0.0,mexa compartir,3540.0,AB.100110,Papas
1184,4519626948083712,4391,1,12990.0,2074.0,0.0,mexa compartir,0.0,AB.530,PAPITAS
1206,4519839593005056,1080,1,8690.0,1387.0,0.0,mexa individual,4990.0,AB.010,Fries
1487,4523954426478592,40060,1,0.0,0.0,0.0,mexa compartir promo,0.0,AB.070,Promos presenciales üî•
1878,4527904687652864,4390,1,9990.0,1595.0,0.0,mexa individual,0.0,AB.530,PAPITAS
1936,4529019456061440,2340,1,0.0,0.0,0.0,mexa compartir promo,0.0,BA.330,Elige tus papas grandes
2475,4536456826322944,6360,1,0.0,0.0,0.0,mexa compartir promo,0.0,BA.530,Escoge Tus Papas Grandesüçü
4871,4569185323319296,9140,1,4990.0,797.0,0.0,mexa individual,4490.0,AB.400,Fries üçü
5525,4578972035448832,9141,1,6990.0,1116.0,0.0,mexa compartir,4490.0,AB.400,Fries üçü

In [44]:
#Repetimos el proceso para todos los tipos de papas
cheese_rows = df[df['producto'].str.contains("cheese", case=False)]
cheese_ids = cheese_rows['product_id'].unique()

# Filtrar el DataFrame original para incluir solo filas con esos product_id √∫nicos
df_cheese= df[df['product_id'].isin(cheese_ids)].drop_duplicates(subset=['product_id'])
df_cheese

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
27,4503987335987200,4371,1,12990.0,2074.0,0.0,cheese and bacon compartir,0.0,AB.530,PAPITAS
29,4504039698071552,1050,1,8990.0,1435.0,0.0,Cheese and bacon Grande,5990.0,AB.010,Fries
31,4504039698071552,1040,1,7290.0,1164.0,0.0,Cheese and bacon Standard,4290.0,AB.010,Fries
69,4504536977506304,UBEREATS0003,1,3040.0,485.0,-2250.0,cheese and bacon individual,4690.0,AB.100110,Papas
72,4504652367003648,9130,1,4490.0,717.0,0.0,cheese and bacon individual,4490.0,AB.400,Fries üçü
130,4505662506401792,GETJUSTOEX0059,1,0.0,0.0,0.0,Cheese and bacon,0.0,BA.260,Elige Tus Papas Grandes
193,4506262933602304,2290,1,0.0,0.0,0.0,Cheese & bacon grande eats,0.0,BA.330,Elige tus papas grandes
289,4507449591726080,4370,1,0.0,0.0,0.0,cheese and bacon individual,0.0,AB.530,PAPITAS
1812,4527340669108224,6310,2,0.0,0.0,0.0,Cheese and bacon,0.0,BA.530,Escoge Tus Papas Grandesüçü
2456,4536248032821248,40010,1,0.0,0.0,0.0,Sabor cheese & bacon,0.0,AB.008,Promociones
2797,4540589583106048,9131,2,9980.0,1594.0,0.0,cheese and bacon compartir,4490.0,AB.400,Fries üçü
138807,6311010217230336,UBEREATSEX0012,1,0.0,0.0,-1000.0,Grande Cheese and bacon,250.0,BA.030,Elige tu tama√±o favorito

In [45]:
df[df['order_id']==6311010217230336]

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
138804,6311010217230336,1250uber,1,3623.0,578.0,-1667.0,Pollo albahaca,4690.0,AB.100110,Papas
138805,6311010217230336,1790,1,5823.0,930.0,-1667.0,Hamburguesa Americana,6890.0,AB.100120,Hamburguesas con papas
138806,6311010217230336,TOTEATDVYERROR,1,3624.0,579.0,-1666.0,ERR PEDIDOSYA: Hamburguesa Vegetariana,7990.0,AB.,Todos los Productos
138807,6311010217230336,UBEREATSEX0012,1,0.0,0.0,-1000.0,Grande Cheese and bacon,250.0,BA.030,Elige tu tama√±o favorito

Observamos un error en en el nombre de un producto, pero este error a diferencia del anterior se repite consecutivamente, vamos a tratarlo en el apartado de hamburguesas.

In [46]:
product_renames = {
    '1050': 'cheese and bacon compartir',
    '1040': 'cheese and bacon individual',
    'GETJUSTOEX0059': 'cheese and bacon compartir promo',
    '2290': 'cheese and bacon compartir promo',
    '6310': 'cheese and bacon compartir promo',
    '40010': 'cheese and bacon compartir promo',
    'UBEREATSEX0012': 'cheese and bacon compartir'
}

# Aplicando los mapeos al DataFrame
for product_id, new_name in product_renames.items():
    df.loc[df['product_id'] == product_id, 'producto'] = new_name

In [47]:
#Verificamos
cheese_rows = df[df['producto'].str.contains("cheese", case=False)]
cheese_ids = cheese_rows['product_id'].unique()

# Filtrar el DataFrame original para incluir solo filas con esos product_id √∫nicos
df_cheese= df[df['product_id'].isin(cheese_ids)].drop_duplicates(subset=['product_id'])
df_cheese

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
27,4503987335987200,4371,1,12990.0,2074.0,0.0,cheese and bacon compartir,0.0,AB.530,PAPITAS
29,4504039698071552,1050,1,8990.0,1435.0,0.0,cheese and bacon compartir,5990.0,AB.010,Fries
31,4504039698071552,1040,1,7290.0,1164.0,0.0,cheese and bacon individual,4290.0,AB.010,Fries
69,4504536977506304,UBEREATS0003,1,3040.0,485.0,-2250.0,cheese and bacon individual,4690.0,AB.100110,Papas
72,4504652367003648,9130,1,4490.0,717.0,0.0,cheese and bacon individual,4490.0,AB.400,Fries üçü
130,4505662506401792,GETJUSTOEX0059,1,0.0,0.0,0.0,cheese and bacon compartir promo,0.0,BA.260,Elige Tus Papas Grandes
193,4506262933602304,2290,1,0.0,0.0,0.0,cheese and bacon compartir promo,0.0,BA.330,Elige tus papas grandes
289,4507449591726080,4370,1,0.0,0.0,0.0,cheese and bacon individual,0.0,AB.530,PAPITAS
1812,4527340669108224,6310,2,0.0,0.0,0.0,cheese and bacon compartir promo,0.0,BA.530,Escoge Tus Papas Grandesüçü
2456,4536248032821248,40010,1,0.0,0.0,0.0,cheese and bacon compartir promo,0.0,AB.008,Promociones
2797,4540589583106048,9131,2,9980.0,1594.0,0.0,cheese and bacon compartir,4490.0,AB.400,Fries üçü
138807,6311010217230336,UBEREATSEX0012,1,0.0,0.0,-1000.0,cheese and bacon compartir,250.0,BA.030,Elige tu tama√±o favorito

In [48]:
veggie_rows = df[df['producto'].str.contains("veggie", case=False)]
veggie_ids = veggie_rows['product_id'].unique()

# Filtrar el DataFrame original para incluir solo filas con esos product_id √∫nicos
df_veggie= df[df['product_id'].isin(veggie_ids)].drop_duplicates(subset=['product_id'])
df_veggie

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
18,4503987335987200,4361,1,12990.0,2074.0,0.0,veggie compartir,0.0,AB.530,PAPITAS
33,4504054346285056,1070,1,8990.0,1435.0,0.0,Veggie Grande,5290.0,AB.010,Fries
74,4504770361163776,9121,1,5490.0,877.0,0.0,veggie compartir,4490.0,AB.400,Fries üçü
171,4506025618833408,1060,1,7990.0,1276.0,0.0,Veggie Standard,4990.0,AB.010,Fries
205,4506316640616448,UBEREATS0004,2,16780.0,2679.0,0.0,veggie compartir,4123.0,AB.100110,Papas
216,4506400514113536,GETJUSTOEX0060,1,0.0,0.0,0.0,Veggies,0.0,BA.260,Elige Tus Papas Grandes
634,4512380716056576,2350,1,0.0,0.0,0.0,Veggies grande eats,0.0,BA.330,Elige tus papas grandes
2242,4533384168734720,4360,1,5994.0,957.0,0.0,veggie individual,0.0,AB.530,PAPITAS
2280,4534367159058432,9120,1,4490.0,717.0,0.0,veggie individual,4490.0,AB.400,Fries üçü
2546,4537516634669056,6350,1,0.0,0.0,0.0,Veggies,0.0,BA.530,Escoge Tus Papas Grandesüçü
4085,4559263280267264,40070,1,0.0,0.0,0.0,Sabor veggies,0.0,AB.070,Promos presenciales üî•

In [49]:
product_renames = {

    '1070': 'veggie compartir',
    '1060': 'veggie individual',
    'GETJUSTOEX0060': 'veggie compartir promo',
    '2350': 'veggie compartir promo',
    '6350': 'veggie compartir promo',
    '40070': 'veggie compartir promo'
}

# Aplicando los mapeos al DataFrame
for product_id, new_name in product_renames.items():
    df.loc[df['product_id'] == product_id, 'producto'] = new_name

In [50]:
#Verificamos
veggie_rows = df[df['producto'].str.contains("veggie", case=False)]
veggie_ids = veggie_rows['product_id'].unique()

# Filtrar el DataFrame original para incluir solo filas con esos product_id √∫nicos
df_veggie= df[df['product_id'].isin(veggie_ids)].drop_duplicates(subset=['product_id'])
df_veggie

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
18,4503987335987200,4361,1,12990.0,2074.0,0.0,veggie compartir,0.0,AB.530,PAPITAS
33,4504054346285056,1070,1,8990.0,1435.0,0.0,veggie compartir,5290.0,AB.010,Fries
74,4504770361163776,9121,1,5490.0,877.0,0.0,veggie compartir,4490.0,AB.400,Fries üçü
171,4506025618833408,1060,1,7990.0,1276.0,0.0,veggie individual,4990.0,AB.010,Fries
205,4506316640616448,UBEREATS0004,2,16780.0,2679.0,0.0,veggie compartir,4123.0,AB.100110,Papas
216,4506400514113536,GETJUSTOEX0060,1,0.0,0.0,0.0,veggie compartir promo,0.0,BA.260,Elige Tus Papas Grandes
634,4512380716056576,2350,1,0.0,0.0,0.0,veggie compartir promo,0.0,BA.330,Elige tus papas grandes
2242,4533384168734720,4360,1,5994.0,957.0,0.0,veggie individual,0.0,AB.530,PAPITAS
2280,4534367159058432,9120,1,4490.0,717.0,0.0,veggie individual,4490.0,AB.400,Fries üçü
2546,4537516634669056,6350,1,0.0,0.0,0.0,veggie compartir promo,0.0,BA.530,Escoge Tus Papas Grandesüçü
4085,4559263280267264,40070,1,0.0,0.0,0.0,veggie compartir promo,0.0,AB.070,Promos presenciales üî•

In [51]:
mechada_rows = df[df['producto'].str.contains("mechada", case=False)]
mechada_ids = mechada_rows['product_id'].unique()

# Filtrar el DataFrame original para incluir solo filas con esos product_id √∫nicos
df_mechada= df[df['product_id'].isin(mechada_ids)].drop_duplicates(subset=['product_id'])
df_mechada

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
7,4503646535155712,1100,2,10480.0,1673.0,-3100.0,Mechada BBQ Standard,4990.0,AB.010,Fries
9,4503706133463040,4381,1,12990.0,2074.0,0.0,mechada compartir,0.0,AB.530,PAPITAS
77,4504938287464448,1110,1,6990.0,1116.0,0.0,Mechada BBQ Grande,5990.0,AB.010,Fries
290,4507449591726080,4380,1,0.0,0.0,0.0,mechada individual,0.0,AB.530,PAPITAS
373,4508953901531136,GETJUSTOEX0062,1,0.0,0.0,0.0,Mechada BBQ,0.0,BA.260,Elige Tus Papas Grandes
404,4509414202277888,2310,1,0.0,0.0,0.0,Mechada bbq grande eats,0.0,BA.330,Elige tus papas grandes
570,4511736333991936,UBEREATS0006,2,18900.0,3018.0,0.0,mechada individual,4290.0,AB.100110,Papas
726,4513449574662144,6320,1,0.0,0.0,0.0,Mechada bbq,0.0,BA.530,Escoge Tus Papas Grandesüçü
1486,4523954426478592,40030,1,0.0,0.0,0.0,Sabor Mechada,0.0,AB.070,Promos presenciales üî•
3951,4557335181393920,9090,1,4990.0,797.0,0.0,mechada individual,4490.0,AB.400,Fries üçü
4869,4569185323319296,9091,1,5990.0,957.0,0.0,mechada compartir,4490.0,AB.400,Fries üçü

In [52]:
product_renames = {
    # Actualizando con los nuevos mapeos espec√≠ficos para "mechada"
    '1100': 'mechada individual',
    '1110': 'mechada compartir',
    'GETJUSTOEX0062': 'mechada compartir promo',
    '2310': 'mechada compartir promo',
    '6320': 'mechada compartir promo',
    '40030': 'mechada compartir promo'
}

# Aplicando los nuevos mapeos al DataFrame
for product_id, new_name in product_renames.items():
    df.loc[df['product_id'] == product_id, 'producto'] = new_name

In [53]:
#verificamos
mechada_rows = df[df['producto'].str.contains("mechada", case=False)]
mechada_ids = mechada_rows['product_id'].unique()

# Filtrar el DataFrame original para incluir solo filas con esos product_id √∫nicos
df_mechada= df[df['product_id'].isin(mechada_ids)].drop_duplicates(subset=['product_id'])
df_mechada

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
7,4503646535155712,1100,2,10480.0,1673.0,-3100.0,mechada individual,4990.0,AB.010,Fries
9,4503706133463040,4381,1,12990.0,2074.0,0.0,mechada compartir,0.0,AB.530,PAPITAS
77,4504938287464448,1110,1,6990.0,1116.0,0.0,mechada compartir,5990.0,AB.010,Fries
290,4507449591726080,4380,1,0.0,0.0,0.0,mechada individual,0.0,AB.530,PAPITAS
373,4508953901531136,GETJUSTOEX0062,1,0.0,0.0,0.0,mechada compartir promo,0.0,BA.260,Elige Tus Papas Grandes
404,4509414202277888,2310,1,0.0,0.0,0.0,mechada compartir promo,0.0,BA.330,Elige tus papas grandes
570,4511736333991936,UBEREATS0006,2,18900.0,3018.0,0.0,mechada individual,4290.0,AB.100110,Papas
726,4513449574662144,6320,1,0.0,0.0,0.0,mechada compartir promo,0.0,BA.530,Escoge Tus Papas Grandesüçü
1486,4523954426478592,40030,1,0.0,0.0,0.0,mechada compartir promo,0.0,AB.070,Promos presenciales üî•
3951,4557335181393920,9090,1,4990.0,797.0,0.0,mechada individual,4490.0,AB.400,Fries üçü
4869,4569185323319296,9091,1,5990.0,957.0,0.0,mechada compartir,4490.0,AB.400,Fries üçü

In [54]:
choclo_rows = df[df['producto'].str.contains("choclo", case=False)]
choclo_ids = choclo_rows['product_id'].unique()

# Filtrar el DataFrame original para incluir solo filas con esos product_id √∫nicos
df_choclo= df[df['product_id'].isin(choclo_ids)].drop_duplicates(subset=['product_id'])
df_choclo

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
94,4505139681165312,UBEREATS0009,1,7690.0,1228.0,0.0,choclo champi√±on compartir,4290.0,AB.100110,Papas
98,4505211156299776,1170,1,7790.0,1244.0,0.0,Choclo & champi√±√≥n Grande,5290.0,AB.010,Fries
131,4505662506401792,GETJUSTOEX0065,1,0.0,0.0,0.0,Choclo & Champi√±√≥n,0.0,BA.260,Elige Tus Papas Grandes
152,4505823548145664,4350,1,9990.0,1595.0,0.0,choclo champi√±on individual,0.0,AB.530,PAPITAS
189,4506250687676416,1160,1,7690.0,1228.0,0.0,Choclo & champi√±√≥n Standard,4990.0,AB.010,Fries
395,4509306877378560,2370,1,0.0,0.0,0.0,Choclo & champi√±√≥n grande eats,0.0,BA.330,Elige tus papas grandes
421,4509574153109504,4351,1,12990.0,2074.0,0.0,choclo champi√±on compartir,0.0,AB.530,PAPITAS
492,4510276224024576,1310,1,401.0,64.0,-499.0,Choclo & champi√±√≥n,900.0,AB.040,Extras
725,4513449574662144,6370,1,0.0,0.0,0.0,Choclo champi√±on,0.0,BA.530,Escoge Tus Papas Grandesüçü
1778,4526730218569728,9160,1,4490.0,717.0,0.0,choclo champi√±on individual,4490.0,AB.400,Fries üçü
2554,4537688594186240,UBEREATS0020,1,900.0,144.0,0.0,Choclo y champi√±√≥n,900.0,AB.100130,Extras
2633,4538626194145280,40080,1,0.0,0.0,0.0,Sabor choclo champi,0.0,AB.070,Promos presenciales üî•
4034,4558615141416960,9161,1,5490.0,877.0,0.0,choclo champi√±on compartir,4490.0,AB.400,Fries üçü

In [55]:
product_renames = {
    '1170': 'choclo champi√±on compartir',
    'GETJUSTOEX0065': 'choclo champi√±on compartir promo',
    '1160': 'choclo champi√±on individual',
    '2370': 'choclo champi√±on compartir promo',
    '1310': 'choclo champi√±on extra',
    '6370': 'choclo champi√±on compartir promo',
    'UBEREATS0020': 'choclo champi√±on extra',
    '40080': 'choclo champi√±on compartir promo'
}

# Aplicando los nuevos mapeos al DataFrame
for product_id, new_name in product_renames.items():
    df.loc[df['product_id'] == product_id, 'producto'] = new_name

In [56]:
#verificamos
choclo_rows = df[df['producto'].str.contains("choclo", case=False)]
choclo_ids = choclo_rows['product_id'].unique()

# Filtrar el DataFrame original para incluir solo filas con esos product_id √∫nicos
df_choclo= df[df['product_id'].isin(choclo_ids)].drop_duplicates(subset=['product_id'])
df_choclo

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
94,4505139681165312,UBEREATS0009,1,7690.0,1228.0,0.0,choclo champi√±on compartir,4290.0,AB.100110,Papas
98,4505211156299776,1170,1,7790.0,1244.0,0.0,choclo champi√±on compartir,5290.0,AB.010,Fries
131,4505662506401792,GETJUSTOEX0065,1,0.0,0.0,0.0,choclo champi√±on compartir promo,0.0,BA.260,Elige Tus Papas Grandes
152,4505823548145664,4350,1,9990.0,1595.0,0.0,choclo champi√±on individual,0.0,AB.530,PAPITAS
189,4506250687676416,1160,1,7690.0,1228.0,0.0,choclo champi√±on individual,4990.0,AB.010,Fries
395,4509306877378560,2370,1,0.0,0.0,0.0,choclo champi√±on compartir promo,0.0,BA.330,Elige tus papas grandes
421,4509574153109504,4351,1,12990.0,2074.0,0.0,choclo champi√±on compartir,0.0,AB.530,PAPITAS
492,4510276224024576,1310,1,401.0,64.0,-499.0,choclo champi√±on extra,900.0,AB.040,Extras
725,4513449574662144,6370,1,0.0,0.0,0.0,choclo champi√±on compartir promo,0.0,BA.530,Escoge Tus Papas Grandesüçü
1778,4526730218569728,9160,1,4490.0,717.0,0.0,choclo champi√±on individual,4490.0,AB.400,Fries üçü
2554,4537688594186240,UBEREATS0020,1,900.0,144.0,0.0,choclo champi√±on extra,900.0,AB.100130,Extras
2633,4538626194145280,40080,1,0.0,0.0,0.0,choclo champi√±on compartir promo,0.0,AB.070,Promos presenciales üî•
4034,4558615141416960,9161,1,5490.0,877.0,0.0,choclo champi√±on compartir,4490.0,AB.400,Fries üçü

In [57]:
pollo_rows = df[df['producto'].str.contains("pollo", case=False)]
pollo_ids = pollo_rows['product_id'].unique()

# Filtrar el DataFrame original para incluir solo filas con esos product_id √∫nicos
df_pollo= df[df['product_id'].isin(pollo_ids)].drop_duplicates(subset=['product_id'])
df_pollo

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
91,4505135542435840,1920,1,1155.0,184.0,-5835.0,Pollo albahaca grande,5990.0,AB.010,Fries
273,4507219464552448,1250uber,1,6790.0,1084.0,0.0,Pollo albahaca,4690.0,AB.100110,Papas
467,4510106921992192,4411,1,12990.0,2074.0,0.0,pollo albahaca compartir,0.0,AB.530,PAPITAS
684,4513275794161664,4410,1,9990.0,1595.0,0.0,pollo albahaca individual,0.0,AB.530,PAPITAS
1280,4521124605722624,1591,1,5990.0,957.0,0.0,pollo albahaca compartir,4490.0,AB.400,Fries üçü
1569,4524543895666688,2330,1,0.0,0.0,0.0,Pollo albahaca grande eats,0.0,BA.330,Elige tus papas grandes
2046,4531072748224512,1940,1,7890.0,1260.0,0.0,Pollo albahaca standard,4990.0,AB.010,Fries
5620,4580320624771072,6340,1,0.0,0.0,0.0,Pollo albahaca,0.0,BA.530,Escoge Tus Papas Grandesüçü
6737,4594756270948352,1590,1,6890.0,1100.0,0.0,pollo albahaca individual,4490.0,AB.400,Fries üçü
15333,4706673698668544,40050,1,0.0,0.0,0.0,Sabor pollo albahaca,0.0,AB.070,Promos presenciales üî•
56094,5234157531430912,3310,2,12980.0,2072.0,0.0,Pollo saltado+bebida,6490.0,AB.095,COLACIONES

In [58]:
product_renames = {
    '1920': 'pollo albahaca compartir',
    '1250uber': 'pollo albahaca individual',  
    '2330': 'pollo albahaca compartir promo',
    '1940': 'pollo albahaca individual',
    '6340': 'pollo albahaca compartir promo',
    '40050': 'pollo albahaca compartir promo'
}

# Aplicando los nuevos mapeos al DataFrame
for product_id, new_name in product_renames.items():
    df.loc[df['product_id'] == product_id, 'producto'] = new_name

In [59]:
#verificamos
pollo_rows = df[df['producto'].str.contains("pollo", case=False)]
pollo_ids = pollo_rows['product_id'].unique()

# Filtrar el DataFrame original para incluir solo filas con esos product_id √∫nicos
df_pollo= df[df['product_id'].isin(pollo_ids)].drop_duplicates(subset=['product_id'])
df_pollo

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
91,4505135542435840,1920,1,1155.0,184.0,-5835.0,pollo albahaca compartir,5990.0,AB.010,Fries
273,4507219464552448,1250uber,1,6790.0,1084.0,0.0,pollo albahaca individual,4690.0,AB.100110,Papas
467,4510106921992192,4411,1,12990.0,2074.0,0.0,pollo albahaca compartir,0.0,AB.530,PAPITAS
684,4513275794161664,4410,1,9990.0,1595.0,0.0,pollo albahaca individual,0.0,AB.530,PAPITAS
1280,4521124605722624,1591,1,5990.0,957.0,0.0,pollo albahaca compartir,4490.0,AB.400,Fries üçü
1569,4524543895666688,2330,1,0.0,0.0,0.0,pollo albahaca compartir promo,0.0,BA.330,Elige tus papas grandes
2046,4531072748224512,1940,1,7890.0,1260.0,0.0,pollo albahaca individual,4990.0,AB.010,Fries
5620,4580320624771072,6340,1,0.0,0.0,0.0,pollo albahaca compartir promo,0.0,BA.530,Escoge Tus Papas Grandesüçü
6737,4594756270948352,1590,1,6890.0,1100.0,0.0,pollo albahaca individual,4490.0,AB.400,Fries üçü
15333,4706673698668544,40050,1,0.0,0.0,0.0,pollo albahaca compartir promo,0.0,AB.070,Promos presenciales üî•
56094,5234157531430912,3310,2,12980.0,2072.0,0.0,Pollo saltado+bebida,6490.0,AB.095,COLACIONES

In [60]:
curry_rows = df[df['producto'].str.contains("curry", case=False)]
curry_ids = curry_rows['product_id'].unique()

# Filtrar el DataFrame original para incluir solo filas con esos product_id √∫nicos
df_curry= df[df['product_id'].isin(curry_ids)].drop_duplicates(subset=['product_id'])
df_curry

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
14,4503981925335040,4401,1,12990.0,2074.0,0.0,chicken curry compartir,0.0,AB.530,PAPITAS
118,4505542450085888,UBEREATS0007,1,10990.0,1755.0,0.0,chicken curry compartir,4540.0,AB.100110,Papas
459,4509921005273088,4400,1,0.0,0.0,0.0,chicken curry individual,0.0,AB.530,PAPITAS
656,4512990307155968,1120,1,7990.0,1276.0,0.0,Chicken Curry Standard,5290.0,AB.010,Fries
658,4513115158609920,1130,1,6990.0,1116.0,0.0,Chicken Curry Grande,5990.0,AB.010,Fries
1163,4519428824498176,GETJUSTOEX0063,1,0.0,0.0,0.0,Chicken curry,0.0,BA.260,Elige Tus Papas Grandes
3445,4550349417086976,2320,1,0.0,0.0,0.0,Chicken curry grande eats,0.0,BA.330,Elige tus papas grandes
5339,4576290503655424,6330,1,0.0,0.0,0.0,Chicken curry,0.0,BA.530,Escoge Tus Papas Grandesüçü
5599,4579907440738304,9100,1,4990.0,797.0,0.0,chicken curry individual,4990.0,AB.400,Fries üçü
9632,4631596445204480,9101,1,9990.0,1595.0,0.0,chicken curry compartir,4990.0,AB.400,Fries üçü
9710,4633229473349632,1330,1,0.0,0.0,-900.0,Chicken curry,900.0,AB.040,Extras
34356,4954150681051136,UBEREATS0018,1,900.0,144.0,0.0,Curry,900.0,AB.100130,Extras

In [61]:
product_renames = {
    '1120': 'chicken curry individual',
    '1130': 'chicken curry compartir',
    'GETJUSTOEX0063': 'chicken curry compartir promo',
    '2320': 'chicken curry compartir promo',
    '6330': 'chicken curry compartir promo',
    '1330': 'chicken curry extra',
    'UBEREATS0018': 'chicken curry extra'
}

# Aplicando los nuevos mapeos al DataFrame
for product_id, new_name in product_renames.items():
    df.loc[df['product_id'] == product_id, 'producto'] = new_name

In [62]:
#verificamos
curry_rows = df[df['producto'].str.contains("curry", case=False)]
curry_ids = curry_rows['product_id'].unique()

# Filtrar el DataFrame original para incluir solo filas con esos product_id √∫nicos
df_curry= df[df['product_id'].isin(curry_ids)].drop_duplicates(subset=['product_id'])
df_curry

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
14,4503981925335040,4401,1,12990.0,2074.0,0.0,chicken curry compartir,0.0,AB.530,PAPITAS
118,4505542450085888,UBEREATS0007,1,10990.0,1755.0,0.0,chicken curry compartir,4540.0,AB.100110,Papas
459,4509921005273088,4400,1,0.0,0.0,0.0,chicken curry individual,0.0,AB.530,PAPITAS
656,4512990307155968,1120,1,7990.0,1276.0,0.0,chicken curry individual,5290.0,AB.010,Fries
658,4513115158609920,1130,1,6990.0,1116.0,0.0,chicken curry compartir,5990.0,AB.010,Fries
1163,4519428824498176,GETJUSTOEX0063,1,0.0,0.0,0.0,chicken curry compartir promo,0.0,BA.260,Elige Tus Papas Grandes
3445,4550349417086976,2320,1,0.0,0.0,0.0,chicken curry compartir promo,0.0,BA.330,Elige tus papas grandes
5339,4576290503655424,6330,1,0.0,0.0,0.0,chicken curry compartir promo,0.0,BA.530,Escoge Tus Papas Grandesüçü
5599,4579907440738304,9100,1,4990.0,797.0,0.0,chicken curry individual,4990.0,AB.400,Fries üçü
9632,4631596445204480,9101,1,9990.0,1595.0,0.0,chicken curry compartir,4990.0,AB.400,Fries üçü
9710,4633229473349632,1330,1,0.0,0.0,-900.0,chicken curry extra,900.0,AB.040,Extras
34356,4954150681051136,UBEREATS0018,1,900.0,144.0,0.0,chicken curry extra,900.0,AB.100130,Extras

In [63]:
single_rows = df[df['producto'].str.contains("single", case=False)]
single_ids = single_rows['product_id'].unique()

# Filtrar el DataFrame original para incluir solo filas con esos product_id √∫nicos
df_single= df[df['product_id'].isin(single_ids)].drop_duplicates(subset=['product_id'])
df_single

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
110,4505412223893504,1010,1,3990.0,637.0,0.0,Single fries Grande,4490.0,AB.010,Fries
145,4505823548145664,4330,1,9990.0,1595.0,0.0,single fries individual,0.0,AB.530,PAPITAS
168,4505992142389248,4710,1,14990.0,2393.0,0.0,2Burgers sin papas+ 1 single grande,14990.0,AB.070,Promos presenciales üî•
506,4510612225523712,1000,1,2990.0,477.0,0.0,Single fries Standard,2990.0,AB.010,Fries
544,4511395088171008,UBEREATS0001,1,4490.0,717.0,0.0,single fries compartir,2490.0,AB.100110,Papas
1927,4528993930575872,GETJUSTOEX0057,1,0.0,0.0,0.0,Single,0.0,BA.260,Elige Tus Papas Grandes
4035,4558615141416960,9111,1,4290.0,685.0,0.0,single fries compartir,3290.0,AB.400,Fries üçü
5669,4580929615691776,4331,1,12990.0,2074.0,0.0,single fries compartir,0.0,AB.530,PAPITAS
9418,4629279684689920,9110,1,3290.0,525.0,0.0,single fries individual,3290.0,AB.400,Fries üçü

In [64]:
product_renames = {
    '1010': 'single fries compartir',
    '1000': 'single fries individual',
    'GETJUSTOEX0057': 'single fries compartir promo'
}

# Aplicando los nuevos mapeos al DataFrame
for product_id, new_name in product_renames.items():
    df.loc[df['product_id'] == product_id, 'producto'] = new_name

In [65]:
#verificamos
single_rows = df[df['producto'].str.contains("single", case=False)]
single_ids = single_rows['product_id'].unique()

# Filtrar el DataFrame original para incluir solo filas con esos product_id √∫nicos
df_single= df[df['product_id'].isin(single_ids)].drop_duplicates(subset=['product_id'])
df_single

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
110,4505412223893504,1010,1,3990.0,637.0,0.0,single fries compartir,4490.0,AB.010,Fries
145,4505823548145664,4330,1,9990.0,1595.0,0.0,single fries individual,0.0,AB.530,PAPITAS
168,4505992142389248,4710,1,14990.0,2393.0,0.0,2Burgers sin papas+ 1 single grande,14990.0,AB.070,Promos presenciales üî•
506,4510612225523712,1000,1,2990.0,477.0,0.0,single fries individual,2990.0,AB.010,Fries
544,4511395088171008,UBEREATS0001,1,4490.0,717.0,0.0,single fries compartir,2490.0,AB.100110,Papas
1927,4528993930575872,GETJUSTOEX0057,1,0.0,0.0,0.0,single fries compartir promo,0.0,BA.260,Elige Tus Papas Grandes
4035,4558615141416960,9111,1,4290.0,685.0,0.0,single fries compartir,3290.0,AB.400,Fries üçü
5669,4580929615691776,4331,1,12990.0,2074.0,0.0,single fries compartir,0.0,AB.530,PAPITAS
9418,4629279684689920,9110,1,3290.0,525.0,0.0,single fries individual,3290.0,AB.400,Fries üçü

In [66]:
#Encontramos pedidos que no fueron modificados por nuestras funciones
#Estos pedidos presentaban el error de no tener tama√±o por lo cual estaban sin precio
#El no tener precios y el no tener tama√±o, dificulta su estudio por eso procedemos a borrarlos
errores = [
    'Beefie', 'Beefie.', 'Cheese & bacon', 'Cheese and bacon ', 'Chicken curry',
    'Choclo champi√±√≥n ', 'Mechada', 'Mechada bbq', 'Mexa', 'Pollo albahaca', 'Pollo albahaca ',
    'Single fries ', 'Single', 'Veggie', 'Veggies','Para compartir (2-3personas)', '2 hamburguesas por 7990' , 'hamburguesas por 7990!!'
]

orden_error = df[df['producto'].isin(errores)]['order_id'].unique()
df = df[~df['order_id'].isin(orden_error)]
df

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
0,4503601585848320,6650,1,4490.0,717.0,0.0,Mistral 35,4490.0,AB.075,Bar
1,4503645076586496,6870,1,3890.0,621.0,0.0,Jugo de frambuesa,1422.0,AB.075,Bar
2,4503645076586496,2650,1,4190.0,669.0,0.0,Schop heineken,2990.0,AB.085,Schops
3,4503645076586496,6870,1,3890.0,621.0,0.0,Jugo de frambuesa,1422.0,AB.075,Bar
4,4503645076586496,6590,1,6990.0,1116.0,0.0,Jhonnie Walker Black Label,6990.0,AB.075,Bar
...,...,...,...,...,...,...,...,...,...,...
173172,6755396743200768,4351,1,12990.0,2074.0,0.0,choclo champi√±on compartir,0.0,AB.530,PAPITAS
173173,6755396743200768,4680,1,4790.0,765.0,0.0,Absolute,4990.0,AB.075,Bar
173174,6755396743200768,4680,1,4790.0,765.0,0.0,Absolute,4990.0,AB.075,Bar
173175,6755396743200768,1390,1,2390.0,382.0,0.0,Fanta,990.0,AB.050,Drinks ü•§
173176,6755397736857600,1690,1,7490.0,1196.0,0.0,Hamburguesa Americana,6290.0,AB.020,Burgers

In [67]:
#Haremos el mismo trabajo para las hamburguesas
americana_rows = df[df['producto'].str.contains("americana", case=False)]
americana_ids = americana_rows['product_id'].unique()

# Filtrar el DataFrame original para incluir solo filas con esos product_id √∫nicos
df_americana= df[df['product_id'].isin(americana_ids)].drop_duplicates(subset=['product_id'])
df_americana

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
15,4503981925335040,4240,1,8990.0,1435.0,0.0,Americana,8990.0,AB.520,HAMBURGUESAS DE AUTOR
36,4504063399690240,1690,3,32970.0,5264.0,0.0,Hamburguesa Americana,6290.0,AB.020,Burgers
60,4504461730643968,1790,3,32970.0,5264.0,0.0,Hamburguesa Americana,6890.0,AB.100120,Hamburguesas con papas
71,4504652367003648,9050,1,6990.0,1116.0,0.0,Hamburguesa Americanaü•ì,6990.0,AB.410,Burgersüçî
169,4505992142389248,3420,1,0.0,0.0,0.0,Americana sin papas,0.0,AB.070,Promos presenciales üî•
243,4506980511907840,1710,1,0.0,0.0,0.0,Americana eats,0.0,BA.325,Elige tus hamburguesas
248,4507067190345728,6030,1,0.0,0.0,0.0,Americana ü•ì,0.0,BA.510,Escoge Tus Burgers üçî
491,4510267184250880,3370,1,6790.0,1084.0,0.0,Americana SP,0.0,AB.125,Hamburguesas sin papas
3087,4544902535577600,50020,2,0.0,0.0,0.0,Americana P,0.0,AB.008,Promociones
116226,6024178312151040,10440,1,0.0,0.0,0.0,Americana sin papas,0.0,BA.750,Elige tus burgers sin papas

In [68]:
product_renames = {
    '4240': 'Hamburguesa Americana',
    '9050': 'Hamburguesa Americana',
    '3420': 'Hamburguesa Americana sin papas promo',
    '1710': 'Hamburguesa Americana con papas promo',
    '6030': 'Hamburguesa Americana con papas promo',
    '3370': 'Hamburguesa Americana sin papas',
    '50020': 'Hamburguesa Americana con papas promo',
    '10440': 'Hamburguesa Americana sin papas promo'
}

# Aplicando los nuevos mapeos al DataFrame
for product_id, new_name in product_renames.items():
    df.loc[df['product_id'] == product_id, 'producto'] = new_name

In [69]:
americana_rows = df[df['producto'].str.contains("americana", case=False)]
americana_ids = americana_rows['product_id'].unique()

# Filtrar el DataFrame original para incluir solo filas con esos product_id √∫nicos
df_americana= df[df['product_id'].isin(americana_ids)].drop_duplicates(subset=['product_id'])
df_americana

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
15,4503981925335040,4240,1,8990.0,1435.0,0.0,Hamburguesa Americana,8990.0,AB.520,HAMBURGUESAS DE AUTOR
36,4504063399690240,1690,3,32970.0,5264.0,0.0,Hamburguesa Americana,6290.0,AB.020,Burgers
60,4504461730643968,1790,3,32970.0,5264.0,0.0,Hamburguesa Americana,6890.0,AB.100120,Hamburguesas con papas
71,4504652367003648,9050,1,6990.0,1116.0,0.0,Hamburguesa Americana,6990.0,AB.410,Burgersüçî
169,4505992142389248,3420,1,0.0,0.0,0.0,Hamburguesa Americana sin papas promo,0.0,AB.070,Promos presenciales üî•
243,4506980511907840,1710,1,0.0,0.0,0.0,Hamburguesa Americana con papas promo,0.0,BA.325,Elige tus hamburguesas
248,4507067190345728,6030,1,0.0,0.0,0.0,Hamburguesa Americana con papas promo,0.0,BA.510,Escoge Tus Burgers üçî
491,4510267184250880,3370,1,6790.0,1084.0,0.0,Hamburguesa Americana sin papas,0.0,AB.125,Hamburguesas sin papas
3087,4544902535577600,50020,2,0.0,0.0,0.0,Hamburguesa Americana con papas promo,0.0,AB.008,Promociones
116226,6024178312151040,10440,1,0.0,0.0,0.0,Hamburguesa Americana sin papas promo,0.0,BA.750,Elige tus burgers sin papas

In [70]:
clasica_rows = df[df['producto'].str.contains("clasica|cl√°sica", case=False, na=False)]
clasica_ids = clasica_rows['product_id'].unique()

# Filtrar el DataFrame original para incluir solo filas con esos product_id √∫nicos
df_clasica= df[df['product_id'].isin(clasica_ids)].drop_duplicates(subset=['product_id'])
df_clasica

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
20,4503987335987200,4230,1,8990.0,1435.0,0.0,Cl√°sica,8990.0,AB.520,HAMBURGUESAS DE AUTOR
32,4504041528492032,1180,1,10990.0,1755.0,0.0,Hamburguesa Clasica,6990.0,AB.020,Burgers
156,4505920577732608,1190,1,0.0,0.0,0.0,Cl√°sica eats,0.0,BA.325,Elige tus hamburguesas
170,4505992142389248,3430,1,0.0,0.0,0.0,Clasica sin papas,0.0,AB.070,Promos presenciales üî•
178,4506043583037440,UBEREATS0010,1,8490.0,1356.0,0.0,Hamburguesa clasica,6690.0,AB.100120,Hamburguesas con papas
202,4506310576701440,GETJUSTOEX0036,1,0.0,0.0,0.0,Cl√°sica,0.0,BA.230,Escoge Tus Burgers
249,4507067190345728,6000,1,0.0,0.0,0.0,Cl√°sica üçî,0.0,BA.510,Escoge Tus Burgers üçî
331,4508350954602496,500000,2,0.0,0.0,0.0,Cl√°sica P,0.0,AB.070,Promos presenciales üî•
606,4512230521569280,3380,1,6490.0,1036.0,0.0,Clasica,6490.0,AB.125,Hamburguesas sin papas
1702,4526092080381952,9070,1,6490.0,1036.0,0.0,Hamburguesa cl√°sica,6490.0,AB.410,Burgersüçî
116227,6024178312151040,10390,1,0.0,0.0,0.0,Cl√°sica sin papas,0.0,BA.750,Elige tus burgers sin papas

In [71]:
product_renames = {
    '4230': 'Hamburguesa Clasica',
    '1180': 'Hamburguesa Clasica',
    '1190': 'Hamburguesa Clasica con papas promo',
    '3430': 'Hamburguesa Clasica sin papas promo',
    'UBEREATS0010': 'Hamburguesa Clasica',
    'GETJUSTOEX0036': 'Hamburguesa Clasica con papas promo',
    '6000': 'Hamburguesa Clasica con papas promo',
    '500000': 'Hamburguesa Clasica con papas promo',
    '3380': 'Hamburguesa Clasica sin papas',
    '9070': 'Hamburguesa Clasica',
    '10390': 'Hamburguesa Clasica sin papas promo'
}

# Aplicando los nuevos mapeos al DataFrame
for product_id, new_name in product_renames.items():
    df.loc[df['product_id'] == product_id, 'producto'] = new_name

In [72]:
clasica_rows = df[df['producto'].str.contains("clasica|cl√°sica", case=False, na=False)]
clasica_ids = clasica_rows['product_id'].unique()

# Filtrar el DataFrame original para incluir solo filas con esos product_id √∫nicos
df_clasica= df[df['product_id'].isin(clasica_ids)].drop_duplicates(subset=['product_id'])
df_clasica

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
20,4503987335987200,4230,1,8990.0,1435.0,0.0,Hamburguesa Clasica,8990.0,AB.520,HAMBURGUESAS DE AUTOR
32,4504041528492032,1180,1,10990.0,1755.0,0.0,Hamburguesa Clasica,6990.0,AB.020,Burgers
156,4505920577732608,1190,1,0.0,0.0,0.0,Hamburguesa Clasica con papas promo,0.0,BA.325,Elige tus hamburguesas
170,4505992142389248,3430,1,0.0,0.0,0.0,Hamburguesa Clasica sin papas promo,0.0,AB.070,Promos presenciales üî•
178,4506043583037440,UBEREATS0010,1,8490.0,1356.0,0.0,Hamburguesa Clasica,6690.0,AB.100120,Hamburguesas con papas
202,4506310576701440,GETJUSTOEX0036,1,0.0,0.0,0.0,Hamburguesa Clasica con papas promo,0.0,BA.230,Escoge Tus Burgers
249,4507067190345728,6000,1,0.0,0.0,0.0,Hamburguesa Clasica con papas promo,0.0,BA.510,Escoge Tus Burgers üçî
331,4508350954602496,500000,2,0.0,0.0,0.0,Hamburguesa Clasica con papas promo,0.0,AB.070,Promos presenciales üî•
606,4512230521569280,3380,1,6490.0,1036.0,0.0,Hamburguesa Clasica sin papas,6490.0,AB.125,Hamburguesas sin papas
1702,4526092080381952,9070,1,6490.0,1036.0,0.0,Hamburguesa Clasica,6490.0,AB.410,Burgersüçî
116227,6024178312151040,10390,1,0.0,0.0,0.0,Hamburguesa Clasica sin papas promo,0.0,BA.750,Elige tus burgers sin papas

In [73]:
hot_rows = df[df['producto'].str.contains("hot", case=False)]
hot_ids = hot_rows['product_id'].unique()

# Filtrar el DataFrame original para incluir solo filas con esos product_id √∫nicos
df_hot= df[df['product_id'].isin(hot_ids)].drop_duplicates(subset=['product_id'])
df_hot

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
106,4505316354686976,1700,1,7990.0,1276.0,0.0,Hot Burger,7490.0,AB.020,Burgers
291,4507449591726080,4320,1,0.0,0.0,-8990.0,Hot burger,8990.0,AB.520,HAMBURGUESAS DE AUTOR
462,4510103754244096,6010,1,0.0,0.0,0.0,Hot burger üî•,0.0,AB.420,Favoritosüî•
524,4511043261562880,1990,1,0.0,0.0,0.0,Hot burger eats,0.0,BA.325,Elige tus hamburguesas
875,4515349806579712,3440,1,0.0,0.0,0.0,Hot sin papas,0.0,AB.070,Promos presenciales üî•
1237,4520229604163584,1800,6,65940.0,10528.0,0.0,Hot burger üî•,4490.0,AB.100120,Hamburguesas con papas
1288,4521166943027200,3390,1,6490.0,1036.0,0.0,Hot burger SP,5157.0,AB.125,Hamburguesas sin papas
4926,4570031021883392,9030,1,6990.0,1116.0,0.0,Hot Burger üî•,6990.0,AB.410,Burgersüçî
15407,4708185700827136,50050,1,0.0,0.0,0.0,Hot burger P,0.0,AB.008,Promociones
16140,4717331585564672,4130,2,4980.0,795.0,0.0,Extra Shot,2490.0,AB.040,Extras
121165,6082340776050688,10430,1,0.0,0.0,0.0,Hot sin papas,0.0,BA.750,Elige tus burgers sin papas

In [74]:
product_renames = {
    '1700': 'Hamburguesa Hot',
    '4320': 'Hamburguesa Hot',
    '6010': 'Hamburguesa Hot con papas promo',
    '1990': 'Hamburguesa Hot con papas promo',
    '3440': 'Hamburguesa Hot sin papas promo',
    '1800': 'Hamburguesa Hot',
    '3390': 'Hamburguesa Hot sin papas',
    '9030': 'Hamburguesa Hot',
    '50050': 'Hamburguesa Hot con papas promo',
    '10430': 'Hamburguesa Hot sin papas promo'
}

# Asumiendo que `df` es tu DataFrame

# Aplicando los nuevos mapeos al DataFrame
for product_id, new_name in product_renames.items():
    df.loc[df['product_id'] == product_id, 'producto'] = new_name

In [75]:
hot_rows = df[df['producto'].str.contains("hot", case=False)]
hot_ids = hot_rows['product_id'].unique()

# Filtrar el DataFrame original para incluir solo filas con esos product_id √∫nicos
df_hot= df[df['product_id'].isin(hot_ids)].drop_duplicates(subset=['product_id'])
df_hot

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
106,4505316354686976,1700,1,7990.0,1276.0,0.0,Hamburguesa Hot,7490.0,AB.020,Burgers
291,4507449591726080,4320,1,0.0,0.0,-8990.0,Hamburguesa Hot,8990.0,AB.520,HAMBURGUESAS DE AUTOR
462,4510103754244096,6010,1,0.0,0.0,0.0,Hamburguesa Hot con papas promo,0.0,AB.420,Favoritosüî•
524,4511043261562880,1990,1,0.0,0.0,0.0,Hamburguesa Hot con papas promo,0.0,BA.325,Elige tus hamburguesas
875,4515349806579712,3440,1,0.0,0.0,0.0,Hamburguesa Hot sin papas promo,0.0,AB.070,Promos presenciales üî•
1237,4520229604163584,1800,6,65940.0,10528.0,0.0,Hamburguesa Hot,4490.0,AB.100120,Hamburguesas con papas
1288,4521166943027200,3390,1,6490.0,1036.0,0.0,Hamburguesa Hot sin papas,5157.0,AB.125,Hamburguesas sin papas
4926,4570031021883392,9030,1,6990.0,1116.0,0.0,Hamburguesa Hot,6990.0,AB.410,Burgersüçî
15407,4708185700827136,50050,1,0.0,0.0,0.0,Hamburguesa Hot con papas promo,0.0,AB.008,Promociones
16140,4717331585564672,4130,2,4980.0,795.0,0.0,Extra Shot,2490.0,AB.040,Extras
121165,6082340776050688,10430,1,0.0,0.0,0.0,Hamburguesa Hot sin papas promo,0.0,BA.750,Elige tus burgers sin papas

In [76]:
vegana_rows = df[df['producto'].str.contains("vegana", case=False)]
vegana_ids = vegana_rows['product_id'].unique()

# Filtrar el DataFrame original para incluir solo filas con esos product_id √∫nicos
df_vegana= df[df['product_id'].isin(vegana_ids)].drop_duplicates(subset=['product_id'])
df_vegana

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
11,4503935211274240,1210,1,10290.0,1643.0,0.0,Hamburguesa Vegana,7990.0,AB.020,Burgers
120,4505545765289984,1720,1,10290.0,1643.0,0.0,Hamburguesa vegana,6215.0,AB.100120,Hamburguesas con papas
157,4505920577732608,2230,1,0.0,0.0,0.0,Vegana eats,0.0,BA.325,Elige tus hamburguesas
1607,4524972781076480,9040,1,8990.0,1435.0,0.0,Hamburguesa Vegana not burger,7490.0,AB.410,Burgersüçî
3048,4544561145839616,3460,1,500.0,80.0,0.0,Vegana sinpapas,500.0,AB.070,Promos presenciales üî•
4825,4568636060336128,3410,1,6990.0,1116.0,0.0,Vegana,7990.0,AB.125,Hamburguesas sin papas
6462,4591317392556032,50030,1,0.0,0.0,0.0,Vegana P,0.0,AB.070,Promos presenciales üî•
6785,4595425736785920,4270,1,8990.0,1435.0,0.0,Vegana,8990.0,AB.520,HAMBURGUESAS DE AUTOR
9063,4623730108792832,6040,2,0.0,0.0,0.0,Vegana üå±,0.0,AB.420,Favoritosüî•
54079,5208747213062144,9010,1,6088.0,972.0,-1402.0,Hamburguesa Vegana (porotos quinoa),7490.0,AB.410,Burgersüçî
107372,5909440469532672,1540,1,7557.0,1207.0,-933.0,Hamburguesa Vegana (porotos quinoa),7490.0,AB.020,Burgers

In [77]:
product_renames = {
    '1210': 'Hamburguesa Vegana',
    '1720': 'Hamburguesa Vegana',
    '2230': 'Hamburguesa Vegana con papas promo',
    '9040': 'Hamburguesa Vegana',
    '3460': 'Hamburguesa Vegana sin papas promo',
    '3410': 'Hamburguesa Vegana sin papas',
    '50030': 'Hamburguesa Vegana sin papas promo',
    '4270': 'Hamburguesa Vegana',
    '6040': 'Hamburguesa Vegana con papas promo',
    '9010': 'Hamburguesa Vegana',
    '1540': 'Hamburguesa Vegana'
}
# Aplicando los nuevos mapeos al DataFrame
for product_id, new_name in product_renames.items():
    df.loc[df['product_id'] == product_id, 'producto'] = new_name

In [78]:
vegana_rows = df[df['producto'].str.contains("vegana", case=False)]
vegana_ids = vegana_rows['product_id'].unique()

# Filtrar el DataFrame original para incluir solo filas con esos product_id √∫nicos
df_vegana= df[df['product_id'].isin(vegana_ids)].drop_duplicates(subset=['product_id'])
df_vegana

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
11,4503935211274240,1210,1,10290.0,1643.0,0.0,Hamburguesa Vegana,7990.0,AB.020,Burgers
120,4505545765289984,1720,1,10290.0,1643.0,0.0,Hamburguesa Vegana,6215.0,AB.100120,Hamburguesas con papas
157,4505920577732608,2230,1,0.0,0.0,0.0,Hamburguesa Vegana con papas promo,0.0,BA.325,Elige tus hamburguesas
1607,4524972781076480,9040,1,8990.0,1435.0,0.0,Hamburguesa Vegana,7490.0,AB.410,Burgersüçî
3048,4544561145839616,3460,1,500.0,80.0,0.0,Hamburguesa Vegana sin papas promo,500.0,AB.070,Promos presenciales üî•
4825,4568636060336128,3410,1,6990.0,1116.0,0.0,Hamburguesa Vegana sin papas,7990.0,AB.125,Hamburguesas sin papas
6462,4591317392556032,50030,1,0.0,0.0,0.0,Hamburguesa Vegana sin papas promo,0.0,AB.070,Promos presenciales üî•
6785,4595425736785920,4270,1,8990.0,1435.0,0.0,Hamburguesa Vegana,8990.0,AB.520,HAMBURGUESAS DE AUTOR
9063,4623730108792832,6040,2,0.0,0.0,0.0,Hamburguesa Vegana con papas promo,0.0,AB.420,Favoritosüî•
54079,5208747213062144,9010,1,6088.0,972.0,-1402.0,Hamburguesa Vegana,7490.0,AB.410,Burgersüçî
107372,5909440469532672,1540,1,7557.0,1207.0,-933.0,Hamburguesa Vegana,7490.0,AB.020,Burgers

In [79]:
veget_rows = df[df['producto'].str.contains("vegetariana", case=False)]
veget_ids = veget_rows['product_id'].unique()

# Filtrar el DataFrame original para incluir solo filas con esos product_id √∫nicos
df_veget= df[df['product_id'].isin(veget_ids)].drop_duplicates(subset=['product_id'])
df_veget

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
67,4504523210752000,1200,1,7990.0,1276.0,0.0,Hamburguesa Vegetariana,7990.0,AB.020,Burgers
111,4505444720312320,UBEREATS0012,1,8490.0,1356.0,0.0,Hamburguesa vegetariana,6990.0,AB.100120,Hamburguesas con papas
143,4505823548145664,4260,2,17980.0,2871.0,0.0,Vegetariana,8990.0,AB.520,HAMBURGUESAS DE AUTOR
201,4506310576701440,500001,1,0.0,0.0,0.0,Vegetariana P,0.0,BA.230,Escoge Tus Burgers
610,4512263254573056,TOTEATDVYERROR,2,10486.0,1674.0,-3494.0,ERR PEDIDOSYA: Hamburguesa Vegetariana,7990.0,AB.,Todos los Productos
847,4514912041828352,3400,1,6990.0,1116.0,0.0,Vegetariana,7990.0,AB.125,Hamburguesas sin papas
1606,4524972781076480,9020,1,8990.0,1435.0,0.0,Hamburguesa Vegetariana not burger üå±,7490.0,AB.410,Burgersüçî
1699,4526092080381952,6050,1,0.0,0.0,0.0,Vegetariana üå±based,0.0,AB.420,Favoritosüî•
2565,4537827487121408,2210,1,0.0,0.0,0.0,Vegetariana eats,0.0,BA.325,Elige tus hamburguesas
3047,4544561145839616,3450,1,500.0,80.0,0.0,Vegetariana sin papas,500.0,AB.070,Promos presenciales üî•
9657,4631833613172736,1550,1,7490.0,1196.0,0.0,Hamburguesa Vegetariana (porotos quinoa),7489.9,AB.020,Burgers

In [80]:
product_renames = {
    '1200': 'Hamburguesa Vegetariana',
    'UBEREATS0012': 'Hamburguesa Vegetariana',
    '4260': 'Hamburguesa Vegetariana',
    '500001': 'Hamburguesa Vegetariana con papas promo',
    'TOTEATDVYERROR': 'Hamburguesa Vegetariana',
    '3400': 'Hamburguesa Vegetariana sin papas',
    '9020': 'Hamburguesa Vegetariana',
    '6050': 'Hamburguesa Vegetariana con papas promo',
    '2210': 'Hamburguesa Vegetariana con papas promo',
    '3450': 'Hamburguesa Vegetariana sin papas promo',
    '1550': 'Hamburguesa Vegetariana'
}

# Aplicando los nuevos mapeos al DataFrame
for product_id, new_name in product_renames.items():
    df.loc[df['product_id'] == product_id, 'producto'] = new_name

In [81]:
veget_rows = df[df['producto'].str.contains("vegetariana", case=False)]
veget_ids = veget_rows['product_id'].unique()

# Filtrar el DataFrame original para incluir solo filas con esos product_id √∫nicos
df_veget= df[df['product_id'].isin(veget_ids)].drop_duplicates(subset=['product_id'])
df_veget

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
67,4504523210752000,1200,1,7990.0,1276.0,0.0,Hamburguesa Vegetariana,7990.0,AB.020,Burgers
111,4505444720312320,UBEREATS0012,1,8490.0,1356.0,0.0,Hamburguesa Vegetariana,6990.0,AB.100120,Hamburguesas con papas
143,4505823548145664,4260,2,17980.0,2871.0,0.0,Hamburguesa Vegetariana,8990.0,AB.520,HAMBURGUESAS DE AUTOR
201,4506310576701440,500001,1,0.0,0.0,0.0,Hamburguesa Vegetariana con papas promo,0.0,BA.230,Escoge Tus Burgers
610,4512263254573056,TOTEATDVYERROR,2,10486.0,1674.0,-3494.0,Hamburguesa Vegetariana,7990.0,AB.,Todos los Productos
847,4514912041828352,3400,1,6990.0,1116.0,0.0,Hamburguesa Vegetariana sin papas,7990.0,AB.125,Hamburguesas sin papas
1606,4524972781076480,9020,1,8990.0,1435.0,0.0,Hamburguesa Vegetariana,7490.0,AB.410,Burgersüçî
1699,4526092080381952,6050,1,0.0,0.0,0.0,Hamburguesa Vegetariana con papas promo,0.0,AB.420,Favoritosüî•
2565,4537827487121408,2210,1,0.0,0.0,0.0,Hamburguesa Vegetariana con papas promo,0.0,BA.325,Elige tus hamburguesas
3047,4544561145839616,3450,1,500.0,80.0,0.0,Hamburguesa Vegetariana sin papas promo,500.0,AB.070,Promos presenciales üî•
9657,4631833613172736,1550,1,7490.0,1196.0,0.0,Hamburguesa Vegetariana,7489.9,AB.020,Burgers

In [82]:
original_rows = df[df['producto'].str.contains("original", case=False)]
original_ids = original_rows['product_id'].unique()

# Filtrar el DataFrame original para incluir solo filas con esos product_id √∫nicos
df_original= df[df['product_id'].isin(original_ids)].drop_duplicates(subset=['product_id'])
df_original

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
44,4504129656061952,GETJUSTOEX0012,1,0.0,0.0,0.0,Coca Cola Original 350ml,0.0,BA.200,Elige Tu Bebida
80,4504938287464448,1370,1,1290.0,206.0,0.0,Coca Cola Original,990.0,AB.050,Drinks ü•§
132,4505662506401792,6140,1,0.0,0.0,0.0,Coca cola original,0.0,BA.520,Escoge Tus Bebidasü•§
158,4505920577732608,2240,1,0.0,0.0,0.0,Coca cola original 350ml,0.0,BA.326,Elige tus bebidas
236,4506821429297152,6810,1,1990.0,318.0,0.0,Fentimans Original,1990.0,AB.075,Bar
268,4507117281214464,4550,1,8991.0,1436.0,-999.0,Original burger,9990.0,AB.520,HAMBURGUESAS DE AUTOR
882,4515519940132864,4450,1,9990.0,1595.0,0.0,Original burger con papas fritas,9990.0,AB.020,Burgers
1376,4522259444269056,4650,1,6490.0,1036.0,0.0,Original SP,6990.0,AB.125,Hamburguesas sin papas
1582,4524694840279040,60100,1,0.0,0.0,0.0,Coca cola original 350ml.,0.0,AB.030,Chicken
3722,4554223492268032,6670,2,13980.0,2232.0,0.0,Hendricks Original,7490.0,AB.075,Bar
4277,4561170252038144,4420,1,11990.0,1914.0,0.0,Original burger con papas fritas,11990.0,AB.100120,Hamburguesas con papas
104456,5870679878664192,6060,1,0.0,0.0,0.0,Original sp,0.0,AB.007,PROMOS PAPA¬¥S SHOP

In [83]:
product_renames = {
    'GETJUSTOEX0012': 'coca cola',
    '1370': 'coca cola',
    '6140': 'coca cola',
    '2240': 'coca cola',
    '60100': 'coca cola',
    '4550': 'Hamburguesa Original',
    '4450': 'Hamburguesa Original',
    '4650': 'Hamburguesa Original sin papas',
    '4420': 'Hamburguesa Original',
    '6060': 'Hamburguesa Original sin papas promo'
}

# Aplicando los nuevos mapeos al DataFrame
for product_id, new_name in product_renames.items():
    df.loc[df['product_id'] == product_id, 'producto'] = new_name

In [84]:
original_rows = df[df['producto'].str.contains("original", case=False)]
original_ids = original_rows['product_id'].unique()

# Filtrar el DataFrame original para incluir solo filas con esos product_id √∫nicos
df_original= df[df['product_id'].isin(original_ids)].drop_duplicates(subset=['product_id'])
df_original

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
236,4506821429297152,6810,1,1990.0,318.0,0.0,Fentimans Original,1990.0,AB.075,Bar
268,4507117281214464,4550,1,8991.0,1436.0,-999.0,Hamburguesa Original,9990.0,AB.520,HAMBURGUESAS DE AUTOR
882,4515519940132864,4450,1,9990.0,1595.0,0.0,Hamburguesa Original,9990.0,AB.020,Burgers
1376,4522259444269056,4650,1,6490.0,1036.0,0.0,Hamburguesa Original sin papas,6990.0,AB.125,Hamburguesas sin papas
3722,4554223492268032,6670,2,13980.0,2232.0,0.0,Hendricks Original,7490.0,AB.075,Bar
4277,4561170252038144,4420,1,11990.0,1914.0,0.0,Hamburguesa Original,11990.0,AB.100120,Hamburguesas con papas
104456,5870679878664192,6060,1,0.0,0.0,0.0,Hamburguesa Original sin papas promo,0.0,AB.007,PROMOS PAPA¬¥S SHOP

In [85]:
fry_rows = df[df['producto'].str.contains("fry", case=False)]
fry_ids = fry_rows['product_id'].unique()

# Filtrar el DataFrame original para incluir solo filas con esos product_id √∫nicos
df_fry= df[df['product_id'].isin(fry_ids)].drop_duplicates(subset=['product_id'])
df_fry

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
472,4510205207117824,4570,1,9498.0,1516.0,-492.0,fry chicken tutri,9990.0,AB.520,HAMBURGUESAS DE AUTOR
5966,4584571039121408,4290,1,9990.0,1595.0,0.0,Fry chicken tutri,9990.0,AB.200240,Burgers
7639,4605810809372672,4670,1,7990.0,1276.0,0.0,Fry chicken burger,6990.0,AB.125,Hamburguesas sin papas
8555,4616781890191360,4430,1,11990.0,1914.0,0.0,Fry chicken tutri,11990.0,AB.100120,Hamburguesas con papas
9731,4633365800157184,4460,2,19980.0,3190.0,0.0,Fry chicken tutri,9990.0,AB.020,Burgers

In [86]:
product_renames = {
    '4570': 'Hamburguesa Fry chicken tutri',
    '4290': 'Hamburguesa Fry chicken tutri',
    '4670': 'Hamburguesa Fry chicken tutri sin papas',
    '4430': 'Hamburguesa Fry chicken tutri',
    '4460': 'Hamburguesa Fry chicken tutri'
}
# Aplicando los nuevos mapeos al DataFrame
for product_id, new_name in product_renames.items():
    df.loc[df['product_id'] == product_id, 'producto'] = new_name

In [87]:
fry_rows = df[df['producto'].str.contains("fry", case=False)]
fry_ids = fry_rows['product_id'].unique()

# Filtrar el DataFrame original para incluir solo filas con esos product_id √∫nicos
df_fry= df[df['product_id'].isin(fry_ids)].drop_duplicates(subset=['product_id'])
df_fry

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
472,4510205207117824,4570,1,9498.0,1516.0,-492.0,Hamburguesa Fry chicken tutri,9990.0,AB.520,HAMBURGUESAS DE AUTOR
5966,4584571039121408,4290,1,9990.0,1595.0,0.0,Hamburguesa Fry chicken tutri,9990.0,AB.200240,Burgers
7639,4605810809372672,4670,1,7990.0,1276.0,0.0,Hamburguesa Fry chicken tutri sin papas,6990.0,AB.125,Hamburguesas sin papas
8555,4616781890191360,4430,1,11990.0,1914.0,0.0,Hamburguesa Fry chicken tutri,11990.0,AB.100120,Hamburguesas con papas
9731,4633365800157184,4460,2,19980.0,3190.0,0.0,Hamburguesa Fry chicken tutri,9990.0,AB.020,Burgers

In [88]:
blue_rows = df[df['producto'].str.contains("blue", case=False)]
blue_ids = blue_rows['product_id'].unique()

# Filtrar el DataFrame original para incluir solo filas con esos product_id √∫nicos
df_blue= df[df['product_id'].isin(blue_ids)].drop_duplicates(subset=['product_id'])
df_blue

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
370,4508945611489280,3360,1,3590.0,573.0,0.0,BLUE MOON,3590.0,AB.080,Cerveza de botella
413,4509536132136960,4560,1,11990.0,1914.0,0.0,Blue Shop burger,5940.0,AB.520,HAMBURGUESAS DE AUTOR
519,4510950157844480,4660,1,7990.0,1276.0,0.0,Blue shop SP,7990.0,AB.125,Hamburguesas sin papas
1375,4522259444269056,4440,1,13990.0,2234.0,0.0,Blueshop burger,13990.0,AB.100120,Hamburguesas con papas
5657,4580862876319744,50,1,10990.0,1755.0,0.0,Blueshop Burger,10990.0,AB.020,Burgers
16768,4724380076343296,4300,1,0.0,0.0,-11990.0,Blueshop burger,0.0,AB.200240,Burgers
136172,6275363105800192,6080,1,0.0,0.0,0.0,Blue sp,0.0,AB.007,PROMOS PAPA¬¥S SHOP

In [89]:
product_renames = {
    '4560': 'Hamburguesa Blueshop',
    '4660': 'Hamburguesa Blueshop sin papas',
    '4440': 'Hamburguesa Blueshop',
    '50': 'Hamburguesa Blueshop',
    '4300': 'Hamburguesa Blueshop',
    '6080': 'Hamburguesa Blueshop sin papas promo'
}
# Aplicando los nuevos mapeos al DataFrame
for product_id, new_name in product_renames.items():
    df.loc[df['product_id'] == product_id, 'producto'] = new_name

In [90]:
blue_rows = df[df['producto'].str.contains("blue", case=False)]
blue_ids = blue_rows['product_id'].unique()

# Filtrar el DataFrame original para incluir solo filas con esos product_id √∫nicos
df_blue= df[df['product_id'].isin(blue_ids)].drop_duplicates(subset=['product_id'])
df_blue

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
370,4508945611489280,3360,1,3590.0,573.0,0.0,BLUE MOON,3590.0,AB.080,Cerveza de botella
413,4509536132136960,4560,1,11990.0,1914.0,0.0,Hamburguesa Blueshop,5940.0,AB.520,HAMBURGUESAS DE AUTOR
519,4510950157844480,4660,1,7990.0,1276.0,0.0,Hamburguesa Blueshop sin papas,7990.0,AB.125,Hamburguesas sin papas
1375,4522259444269056,4440,1,13990.0,2234.0,0.0,Hamburguesa Blueshop,13990.0,AB.100120,Hamburguesas con papas
5657,4580862876319744,50,1,10990.0,1755.0,0.0,Hamburguesa Blueshop,10990.0,AB.020,Burgers
16768,4724380076343296,4300,1,0.0,0.0,-11990.0,Hamburguesa Blueshop,0.0,AB.200240,Burgers
136172,6275363105800192,6080,1,0.0,0.0,0.0,Hamburguesa Blueshop sin papas promo,0.0,AB.007,PROMOS PAPA¬¥S SHOP

In [91]:
#Haremos el mismo proceso para las promociones existentes en el df
product_renames = {
    '1460': '2 papas grandes + 2 bebidas',
    '4000': '2 papas grandes + 2 bebidas',
    '2360': '2 papas grandes + 2 bebidas',
    '7000': '2 papas grandes + 2 bebidas',
    '2280': '2 hamburguesas con papas + 2 bebidas',
    '1490': '2 hamburguesas con papas + 2 bebidas',
    '1510': '2 hamburguesas con papas + 2 bebidas',
    '7010': '2 hamburguesas con papas + 2 bebidas',
    '4710': '2 hamburguesas con papas',
    '10':'2 hamburguesas con papas',
    '4120': '2 papas grandes',
    'uber1610' : 'Chicken Box S',
    '2580': 'Heineken',
    '6660': 'Mistral 40',
    'uber1600': 'Only Chicken',
    '6500': 'Mojito tradicional',
    '4310' : 'Hamburguesa Italiana',
    'GETJUSTOEX0064': 'vegan compartir promo',
    '1150': 'vegan compartir',
    '40090': 'vegan compartir promo',
    '40040': 'chicken curry compartir promo'
    
}
# Aplicando los nuevos mapeos al DataFrame
for product_id, new_name in product_renames.items():
    df.loc[df['product_id'] == product_id, 'producto'] = new_name

In [92]:
agua_rows = df[df['producto'].str.contains("agua", case=False)]
agua_ids = agua_rows['product_id'].unique()

# Filtrar el DataFrame original para incluir solo filas con esos product_id √∫nicos
df_agua= df[df['product_id'].isin(agua_ids)].drop_duplicates(subset=['product_id'])
df_agua

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
40,4504077229752320,1640,1,2387.0,381.0,0.0,Agua con Gas,1290.0,AB.050,Drinks ü•§
165,4505989011996672,GETJUSTOEX0019,1,0.0,0.0,0.0,Agua Sin Gas Vital,0.0,BA.200,Elige Tu Bebida
263,4507107859365888,1630,1,1000.0,160.0,0.0,Agua SIN GAS,1290.0,AB.050,Drinks ü•§
283,4507386319208448,6200,1,0.0,0.0,0.0,Agua con gas 600ml,0.0,BA.520,Escoge Tus Bebidasü•§
579,4511883314987008,1670,1,2390.0,382.0,0.0,Agua sin Gas,0.0,AB.050,Drinks ü•§
3089,4544902535577600,60040,1,0.0,0.0,0.0,Agua con gas promos,0.0,AB.070,Promos presenciales üî•
4538,4565400301600768,4600,1,3490.0,557.0,0.0,AGUA,3490.0,AB.075,Bar
18324,4743973184864256,GETJUSTOEX0020,1,0.0,0.0,0.0,Agua Con Gas Vital,0.0,BA.200,Elige Tu Bebida
19189,4755998152327168,400060,1,0.0,0.0,0.0,Agua con gas CBS,0.0,AB.030,Chicken
22457,4797518627733504,uberbox50,1,0.0,0.0,0.0,Agua con gas 600ml,0.0,BA.370,Escoge el sabor de bebida
61295,5305970373820416,60050,1,0.0,0.0,0.0,Agua sin gas promos,0.0,AB.070,Promos presenciales üî•
79841,5547360288243712,400070,1,0.0,0.0,0.0,Agua sin gas CBS,0.0,AB.030,Chicken
132819,6232098148712448,6210,1,0.0,0.0,0.0,Agua con gas 600ml,0.0,BA.520,Escoge Tus Bebidasü•§

In [93]:
product_renames = {
    '1640': 'Agua con Gas',
    'GETJUSTOEX0019': 'Agua sin Gas promo',
    '1630': 'Agua sin Gas',
    '6200': 'Agua con Gas promo',
    '1670': 'Agua sin Gas',
    '60040': 'Agua con Gas promo',
    '4600': 'Agua sin Gas',
    'GETJUSTOEX0020': 'Agua con Gas promo',
    '400060': 'Agua con Gas',
    'uberbox50': 'Agua con Gas promo',
    '60050': 'Agua sin Gas promo',
    '400070': 'Agua sin Gas',
    '6210': 'Agua con Gas promo'
}
# Aplicando los nuevos mapeos al DataFrame
for product_id, new_name in product_renames.items():
    df.loc[df['product_id'] == product_id, 'producto'] = new_name

In [94]:
coca_rows = df[df['producto'].str.contains("coca", case=False)]
coca_ids = coca_rows['product_id'].unique()

# Filtrar el DataFrame original para incluir solo filas con esos product_id √∫nicos
df_coca= df[df['product_id'].isin(coca_ids)].drop_duplicates(subset=['product_id'])
df_coca

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
13,4503981925335040,1380,1,1290.0,206.0,0.0,Coca Cola sin az√∫car,1400.0,AB.050,Drinks ü•§
44,4504129656061952,GETJUSTOEX0012,1,0.0,0.0,0.0,coca cola,0.0,BA.200,Elige Tu Bebida
59,4504413005414400,uberbox20,1,0.0,0.0,0.0,Coca cola sin azucar 350ml,0.0,BA.370,Escoge el sabor de bebida
80,4504938287464448,1370,1,1290.0,206.0,0.0,coca cola,990.0,AB.050,Drinks ü•§
132,4505662506401792,6140,1,0.0,0.0,0.0,coca cola,0.0,BA.520,Escoge Tus Bebidasü•§
158,4505920577732608,2240,1,0.0,0.0,0.0,coca cola,0.0,BA.326,Elige tus bebidas
192,4506262933602304,2250,1,0.0,0.0,0.0,Coca sin az√∫car 350ml,0.0,BA.326,Elige tus bebidas
219,4506400514113536,6150,1,0.0,0.0,0.0,Coca cola sin azucar,0.0,BA.520,Escoge Tus Bebidasü•§
271,4507118588395520,GETJUSTOEX0013,2,0.0,0.0,0.0,Coca Cola sin az√∫car 350ml,0.0,BA.200,Elige Tu Bebida
332,4508350954602496,60000,1,0.0,0.0,0.0,Coca cola promos,0.0,AB.008,Promociones
333,4508350954602496,60010,1,0.0,0.0,0.0,Coca cola sin azucar promos,0.0,AB.008,Promociones
407,4509425341300736,1730,1,1800.0,287.0,0.0,Coca cola sin azucar,650.0,AB.100140,Bebidas
517,4510869986476032,400000,1,0.0,0.0,0.0,Coca cola CBS,0.0,AB.030,Chicken
895,4515760683352064,UBEREATS0025,1,1400.0,224.0,0.0,Coca-Cola,400.0,AB.100140,Bebidas
1582,4524694840279040,60100,1,0.0,0.0,0.0,coca cola,0.0,AB.030,Chicken
2015,4530516286767104,uberbox10,2,0.0,0.0,0.0,Coca cola 350ml,0.0,BA.370,Escoge el sabor de bebida
3015,4544023929552896,400010,1,0.0,0.0,0.0,Coca cola sin azucar CBS,0.0,AB.030,Chicken
3700,4553770435084288,60110,1,0.0,0.0,0.0,Coca cola sin azucar.,0.0,AB.030,Chicken
5391,4576875032346624,2440,1,1290.0,206.0,0.0,Coca Cola Light,1290.0,AB.050,Drinks ü•§

In [95]:
product_renames = {
    '1380': 'coca cola sin azucar',
    'uberbox20': 'coca cola sin azucar',
    '2250': 'coca cola sin azucar promo',
    '6150': 'coca cola sin azucar promo',
    'GETJUSTOEX0013': 'coca cola sin azucar promo',
    '60000': 'coca cola promo',
    '60010': 'coca cola sin azucar promo',
    '1730': 'coca cola sin azucar',
    '400000': 'coca cola',
    'UBEREATS0025': 'coca cola',
    'uberbox10': 'coca cola',
    '400010': 'coca cola sin azucar',
    '60110': 'coca cola sin azucar',
    '2440': 'coca cola sin azucar',
    'GETJUSTOEX0012': 'coca cola promo',
    '6140': 'coca cola promo',
    '2240': 'coca cola promo'
}
# Aplicando los nuevos mapeos al DataFrame
for product_id, new_name in product_renames.items():
    df.loc[df['product_id'] == product_id, 'producto'] = new_name

In [96]:
coca_rows = df[df['producto'].str.contains("coca", case=False)]
coca_ids = coca_rows['product_id'].unique()

# Filtrar el DataFrame original para incluir solo filas con esos product_id √∫nicos
df_coca= df[df['product_id'].isin(coca_ids)].drop_duplicates(subset=['product_id'])
df_coca

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
13,4503981925335040,1380,1,1290.0,206.0,0.0,coca cola sin azucar,1400.0,AB.050,Drinks ü•§
44,4504129656061952,GETJUSTOEX0012,1,0.0,0.0,0.0,coca cola promo,0.0,BA.200,Elige Tu Bebida
59,4504413005414400,uberbox20,1,0.0,0.0,0.0,coca cola sin azucar,0.0,BA.370,Escoge el sabor de bebida
80,4504938287464448,1370,1,1290.0,206.0,0.0,coca cola,990.0,AB.050,Drinks ü•§
132,4505662506401792,6140,1,0.0,0.0,0.0,coca cola promo,0.0,BA.520,Escoge Tus Bebidasü•§
158,4505920577732608,2240,1,0.0,0.0,0.0,coca cola promo,0.0,BA.326,Elige tus bebidas
192,4506262933602304,2250,1,0.0,0.0,0.0,coca cola sin azucar promo,0.0,BA.326,Elige tus bebidas
219,4506400514113536,6150,1,0.0,0.0,0.0,coca cola sin azucar promo,0.0,BA.520,Escoge Tus Bebidasü•§
271,4507118588395520,GETJUSTOEX0013,2,0.0,0.0,0.0,coca cola sin azucar promo,0.0,BA.200,Elige Tu Bebida
332,4508350954602496,60000,1,0.0,0.0,0.0,coca cola promo,0.0,AB.008,Promociones
333,4508350954602496,60010,1,0.0,0.0,0.0,coca cola sin azucar promo,0.0,AB.008,Promociones
407,4509425341300736,1730,1,1800.0,287.0,0.0,coca cola sin azucar,650.0,AB.100140,Bebidas
517,4510869986476032,400000,1,0.0,0.0,0.0,coca cola,0.0,AB.030,Chicken
895,4515760683352064,UBEREATS0025,1,1400.0,224.0,0.0,coca cola,400.0,AB.100140,Bebidas
1582,4524694840279040,60100,1,0.0,0.0,0.0,coca cola,0.0,AB.030,Chicken
2015,4530516286767104,uberbox10,2,0.0,0.0,0.0,coca cola,0.0,BA.370,Escoge el sabor de bebida
3015,4544023929552896,400010,1,0.0,0.0,0.0,coca cola sin azucar,0.0,AB.030,Chicken
3700,4553770435084288,60110,1,0.0,0.0,0.0,coca cola sin azucar,0.0,AB.030,Chicken
5391,4576875032346624,2440,1,1290.0,206.0,0.0,coca cola sin azucar,1290.0,AB.050,Drinks ü•§

In [97]:
jugo_rows = df[df['producto'].str.contains("durazno|pi√±a|sprite", case=False)]
jugo_ids = jugo_rows['product_id'].unique()

# Filtrar el DataFrame original para incluir solo filas con esos product_id √∫nicos
df_jugo= df[df['product_id'].isin(jugo_ids)].drop_duplicates(subset=['product_id'])
df_jugo

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
133,4505662506401792,6110,1,0.0,0.0,0.0,Jugo Durazno,0.0,BA.520,Escoge Tus Bebidasü•§
180,4506043583037440,uberbox40,1,0.0,0.0,0.0,Sprite 350ml,0.0,BA.370,Escoge el sabor de bebida
218,4506400514113536,6120,1,0.0,0.0,0.0,Sprite,0.0,BA.520,Escoge Tus Bebidasü•§
303,4507587022290944,7740,1,5990.0,956.0,0.0,Pi√±a colada,5990.0,AB.075,Bar
380,4509100882526208,1400,1,1290.0,206.0,0.0,Sprite,990.0,AB.050,Drinks ü•§
392,4509306877378560,2260,1,0.0,0.0,0.0,Jugo de durazno 30ml,0.0,BA.326,Elige tus bebidas
842,4514756717969408,UBEREATS0027,1,1400.0,224.0,0.0,Sprite,0.0,AB.100140,Bebidas
1068,4518052950179840,6160,1,0.0,0.0,0.0,Jugo de pi√±a,0.0,BA.520,Escoge Tus Bebidasü•§
1282,4521124605722624,GETJUSTOEX0018,1,0.0,0.0,0.0,Jugo Durazno Del Valle,0.0,BA.200,Elige Tu Bebida
1313,4521734667239424,400050,1,0.0,0.0,0.0,Sprite CBS,0.0,AB.030,Chicken
1581,4524694840279040,60090,3,0.0,0.0,0.0,Sprite.,0.0,AB.030,Chicken
1780,4526730218569728,GETJUSTOEX0017,1,0.0,0.0,0.0,Jugo Pi√±a Del Valle,0.0,BA.200,Elige Tu Bebida
2035,4530871692165120,2450,1,1290.0,206.0,0.0,Sprite Zero,1290.0,AB.050,Drinks ü•§
2084,4531421573152768,60030,1,0.0,0.0,0.0,Sprite promos,0.0,AB.070,Promos presenciales üî•
2973,4543609289048064,4000030,1,0.0,0.0,0.0,Jugo de pi√±a CBS,0.0,AB.030,Chicken
3502,4551256447909888,1650,1,1290.0,206.0,0.0,Jugo Durazno 300ml,1190.0,AB.050,Drinks ü•§
3701,4553770435084288,60130,1,0.0,0.0,0.0,Jugo de pi√±a 300ml.,0.0,BA.360,Bebidas (04).
4304,4561737163210752,60120,1,0.0,0.0,0.0,Jugo de durazno 300ml.,0.0,BA.360,Bebidas (04).
6201,4587863176642560,GETJUSTOEX0015,1,0.0,0.0,0.0,Sprite,0.0,BA.200,Elige Tu Bebida
27119,4859501750255616,400020,1,0.0,0.0,0.0,Jugo de durazno CBS,0.0,AB.030,Chicken
28154,4872706124939264,1660,1,1290.0,206.0,0.0,Jugo de Pi√±a 300ml,1190.0,AB.050,Drinks ü•§
46119,5104980783267840,60060,1,0.0,0.0,0.0,Jugo de durazno promos,0.0,AB.070,Promos presenciales üî•
46120,5104980783267840,60070,1,0.0,0.0,0.0,Jugo de pi√±a promos,0.0,AB.070,Promos presenciales üî•
77511,5518577698078720,1740,1,1890.0,302.0,0.0,Jugo de durazno 300ml,1890.0,AB.100140,Bebidas
86825,5644935418871808,GETJUSTOEX0016,1,0.0,0.0,0.0,Sprite Zero,0.0,BA.200,Elige Tu Bebida

In [98]:
product_renames = {
    '6110': 'jugo durazno promo',
    'uberbox40': 'sprite promo',
    '6120': 'sprite promo',
    '1400': 'sprite',
    '2260': 'jugo durazno promo',
    'UBEREATS0027': 'sprite',
    '6160': 'jugo de pi√±a promo',
    'GETJUSTOEX0018': 'jugo de pi√±a promo',
    '400050': 'sprite',
    '60090': 'sprite',
    'GETJUSTOEX0017': 'jugo de pi√±a promo',
    '2450': 'sprite sin azucar',
    '60030': 'sprite promo',
    '4000030': 'jugo de pi√±a',
    '1650': 'jugo de durazno',
    '60130': 'jugo de pi√±a',
    '60120': 'jugo de durazno',
    'GETJUSTOEX0015': 'sprite promo',
    '400020': 'jugo de durazno',
    '1660': 'jugo de pi√±a',
    '60060': 'jugo de durazno promo',
    '60070': 'jugo de pi√±a promo',
    '1740': 'jugo de durazno',
    'GETJUSTOEX0016': 'sprite sin azucar promo'
}

# Asumiendo que `df` es tu DataFrame

# Aplicando los nuevos mapeos al DataFrame
for product_id, new_name in product_renames.items():
    df.loc[df['product_id'] == product_id, 'producto'] = new_name

In [99]:
jugo_rows = df[df['producto'].str.contains("durazno|pi√±a|sprite", case=False)]
jugo_ids = jugo_rows['product_id'].unique()

# Filtrar el DataFrame original para incluir solo filas con esos product_id √∫nicos
df_jugo= df[df['product_id'].isin(jugo_ids)].drop_duplicates(subset=['product_id'])
df_jugo

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
133,4505662506401792,6110,1,0.0,0.0,0.0,jugo durazno promo,0.0,BA.520,Escoge Tus Bebidasü•§
180,4506043583037440,uberbox40,1,0.0,0.0,0.0,sprite promo,0.0,BA.370,Escoge el sabor de bebida
218,4506400514113536,6120,1,0.0,0.0,0.0,sprite promo,0.0,BA.520,Escoge Tus Bebidasü•§
303,4507587022290944,7740,1,5990.0,956.0,0.0,Pi√±a colada,5990.0,AB.075,Bar
380,4509100882526208,1400,1,1290.0,206.0,0.0,sprite,990.0,AB.050,Drinks ü•§
392,4509306877378560,2260,1,0.0,0.0,0.0,jugo durazno promo,0.0,BA.326,Elige tus bebidas
842,4514756717969408,UBEREATS0027,1,1400.0,224.0,0.0,sprite,0.0,AB.100140,Bebidas
1068,4518052950179840,6160,1,0.0,0.0,0.0,jugo de pi√±a promo,0.0,BA.520,Escoge Tus Bebidasü•§
1282,4521124605722624,GETJUSTOEX0018,1,0.0,0.0,0.0,jugo de pi√±a promo,0.0,BA.200,Elige Tu Bebida
1313,4521734667239424,400050,1,0.0,0.0,0.0,sprite,0.0,AB.030,Chicken
1581,4524694840279040,60090,3,0.0,0.0,0.0,sprite,0.0,AB.030,Chicken
1780,4526730218569728,GETJUSTOEX0017,1,0.0,0.0,0.0,jugo de pi√±a promo,0.0,BA.200,Elige Tu Bebida
2035,4530871692165120,2450,1,1290.0,206.0,0.0,sprite sin azucar,1290.0,AB.050,Drinks ü•§
2084,4531421573152768,60030,1,0.0,0.0,0.0,sprite promo,0.0,AB.070,Promos presenciales üî•
2973,4543609289048064,4000030,1,0.0,0.0,0.0,jugo de pi√±a,0.0,AB.030,Chicken
3502,4551256447909888,1650,1,1290.0,206.0,0.0,jugo de durazno,1190.0,AB.050,Drinks ü•§
3701,4553770435084288,60130,1,0.0,0.0,0.0,jugo de pi√±a,0.0,BA.360,Bebidas (04).
4304,4561737163210752,60120,1,0.0,0.0,0.0,jugo de durazno,0.0,BA.360,Bebidas (04).
6201,4587863176642560,GETJUSTOEX0015,1,0.0,0.0,0.0,sprite promo,0.0,BA.200,Elige Tu Bebida
27119,4859501750255616,400020,1,0.0,0.0,0.0,jugo de durazno,0.0,AB.030,Chicken
28154,4872706124939264,1660,1,1290.0,206.0,0.0,jugo de pi√±a,1190.0,AB.050,Drinks ü•§
46119,5104980783267840,60060,1,0.0,0.0,0.0,jugo de durazno promo,0.0,AB.070,Promos presenciales üî•
46120,5104980783267840,60070,1,0.0,0.0,0.0,jugo de pi√±a promo,0.0,AB.070,Promos presenciales üî•
77511,5518577698078720,1740,1,1890.0,302.0,0.0,jugo de durazno,1890.0,AB.100140,Bebidas
86825,5644935418871808,GETJUSTOEX0016,1,0.0,0.0,0.0,sprite sin azucar promo,0.0,BA.200,Elige Tu Bebida

In [100]:
#Estableceremos los nombres de los mojitos y de productos con errores ortograficos
product_renames = {
    '3210': 'Caipiri√±a happy',
    '6390': 'Sandi spritz',
    '7320': 'Pi√±a colada',
    '8070': 'Mojito Mango',
    '8080': 'Mojito maracuya',
    '8100': 'Mojito tradicional',
    '8090': 'Mojito frutos rojos',
    '8110': 'Mojito frutos rojos',
    '7420': 'Mojito maracuya'
    }

# Aplicando los nuevos mapeos al DataFrame
for product_id, new_name in product_renames.items():
    df.loc[df['product_id'] == product_id, 'producto'] = new_name

In [101]:
fanta_rows = df[df['producto'].str.contains("fanta", case=False)]
fanta_ids = fanta_rows['product_id'].unique()

# Filtrar el DataFrame original para incluir solo filas con esos product_id √∫nicos
df_fanta= df[df['product_id'].isin(fanta_ids)].drop_duplicates(subset=['product_id'])
df_fanta

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
159,4505920577732608,2270,1,0.0,0.0,0.0,Fanta 350ml,0.0,BA.326,Elige tus bebidas
203,4506310576701440,6100,1,0.0,0.0,0.0,Fanta.,0.0,BA.520,Escoge Tus Bebidasü•§
286,4507388054601728,1390,1,1290.0,206.0,0.0,Fanta,990.0,AB.050,Drinks ü•§
1259,4520834328428544,UBEREATS0026,1,1890.0,302.0,0.0,Fanta.,1400.0,AB.100140,Bebidas
2083,4531421573152768,60020,1,0.0,0.0,0.0,Fanta promos,0.0,AB.070,Promos presenciales üî•
4029,4558481544445952,60080,1,0.0,0.0,0.0,Fanta.,0.0,BA.360,Bebidas (04).
4171,4560320975339520,400040,2,0.0,0.0,0.0,Fanta CBS,0.0,AB.030,Chicken
4448,4563536996728832,GETJUSTOEX0014,1,0.0,0.0,0.0,Fanta,0.0,BA.200,Elige Tu Bebida
8990,4622686608949248,uberbox30,1,0.0,0.0,0.0,Fanta 350ml,0.0,BA.370,Escoge el sabor de bebida
26000,4844590051622912,10150,1,0.0,0.0,0.0,Fanta Uva 355ml,0.0,BA.200,Elige Tu Bebida

In [102]:
product_renames = {
    '2270':'fanta promo',
    '6100':'fanta promo',
    '1390':'fanta',
    'UBEREATS0026':'fanta',
    '60020':'fanta promo',
    '60080':'fanta',
    '400040':'fanta',
    'GETJUSTOEX0014':'fanta promo',
    'uberbox30':'fanta promo',
    '10150':'fanta promo',
    '6550':'Expresso Martini',
    '4880': 'Piscola promo',
    '4690':'Piscola promo',
    '3230': 'Piscola promo',
    '7970':'Piscola promo'
    
}
for product_id, new_name in product_renames.items():
    df.loc[df['product_id'] == product_id, 'producto'] = new_name

In [103]:
fanta_rows = df[df['producto'].str.contains("fanta", case=False)]
fanta_ids = fanta_rows['product_id'].unique()

# Filtrar el DataFrame original para incluir solo filas con esos product_id √∫nicos
df_fanta= df[df['product_id'].isin(fanta_ids)].drop_duplicates(subset=['product_id'])
df_fanta

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
159,4505920577732608,2270,1,0.0,0.0,0.0,fanta promo,0.0,BA.326,Elige tus bebidas
203,4506310576701440,6100,1,0.0,0.0,0.0,fanta promo,0.0,BA.520,Escoge Tus Bebidasü•§
286,4507388054601728,1390,1,1290.0,206.0,0.0,fanta,990.0,AB.050,Drinks ü•§
1259,4520834328428544,UBEREATS0026,1,1890.0,302.0,0.0,fanta,1400.0,AB.100140,Bebidas
2083,4531421573152768,60020,1,0.0,0.0,0.0,fanta promo,0.0,AB.070,Promos presenciales üî•
4029,4558481544445952,60080,1,0.0,0.0,0.0,fanta,0.0,BA.360,Bebidas (04).
4171,4560320975339520,400040,2,0.0,0.0,0.0,fanta,0.0,AB.030,Chicken
4448,4563536996728832,GETJUSTOEX0014,1,0.0,0.0,0.0,fanta promo,0.0,BA.200,Elige Tu Bebida
8990,4622686608949248,uberbox30,1,0.0,0.0,0.0,fanta promo,0.0,BA.370,Escoge el sabor de bebida
26000,4844590051622912,10150,1,0.0,0.0,0.0,fanta promo,0.0,BA.200,Elige Tu Bebida

In [104]:
#Revisamos los prodcutos vendidos por mercat, y encontramos que la funci√≥n de papas y tama√±o no funcion√≥ para todos
#Esto se debe a que escogieron productos sin tama√±o. Estos datos son despreciables y no agregan valor al estudio
#Se procede a imputarlos.
errores = ['mer2','mer01'] 

orden_error = df[df['product_id'].isin(errores)]['order_id'].unique()
df = df[~df['order_id'].isin(orden_error)]
df

,order_id,product_id,quantity,payed,taxes,discounts,producto,net_price,hierarchy_id,hierarchy
0,4503601585848320,6650,1,4490.0,717.0,0.0,Mistral 35,4490.0,AB.075,Bar
1,4503645076586496,6870,1,3890.0,621.0,0.0,Jugo de frambuesa,1422.0,AB.075,Bar
2,4503645076586496,2650,1,4190.0,669.0,0.0,Schop heineken,2990.0,AB.085,Schops
3,4503645076586496,6870,1,3890.0,621.0,0.0,Jugo de frambuesa,1422.0,AB.075,Bar
4,4503645076586496,6590,1,6990.0,1116.0,0.0,Jhonnie Walker Black Label,6990.0,AB.075,Bar
...,...,...,...,...,...,...,...,...,...,...
173172,6755396743200768,4351,1,12990.0,2074.0,0.0,choclo champi√±on compartir,0.0,AB.530,PAPITAS
173173,6755396743200768,4680,1,4790.0,765.0,0.0,Absolute,4990.0,AB.075,Bar
173174,6755396743200768,4680,1,4790.0,765.0,0.0,Absolute,4990.0,AB.075,Bar
173175,6755396743200768,1390,1,2390.0,382.0,0.0,fanta,990.0,AB.050,Drinks ü•§
173176,6755397736857600,1690,1,7490.0,1196.0,0.0,Hamburguesa Americana,6290.0,AB.020,Burgers

In [105]:
df.to_csv(r'C:\Users\adrik\Downloads\product_actualizado.csv', index=False)